[2015-05-27 21:43] stefanjudis opened #1 "Make the windows installer a module itself"
The MacOS dmg is created by appdmg.

Removing the logic for dealing with nsi and putting it into another module, would make electron-builder more testable and maintainable.

See - https://github.com/stefanjudis/winstaller

[2015-05-28 19:03] BenjaminDobler opened #2 "Small typo in example"
Hey,

first thanks for this awesome project!
There is a small confusion in the example package.json
It refers to assets/macos/loopline.icns but the directory structure says mount.icns

Thanks again!

[2015-05-28 20:43] xcoderzach opened #3 "updates"
have you guys come up with a solution to updating windows electron shell apps after they're installed?

[2015-05-28 21:18] stefanjudis commented on #3
Not yet... For now prio is to increase test coverage.

But we'll tackle this sooner or later.
Ideas or infos are more than welcome. :)

[2015-05-28 21:20] stefanjudis commented on #2
Thanks. We'll fix that, right now. :)

Glad you like it and I hope it's running smoothly. :)

[2015-05-28 21:26] stefanjudis commented on #2
@BenjaminDobler

Actually the directory structure shows both icon sets.

[code]

And then the command for the electron packager refers to `loopline.icns` which is correct.

`"build:macos": "npm run clean:macos && electron-packager ./app \"Loopline Systems\" --out=dist/macos --platform=darwin --arch=x64 --version=0.25.3 --icon=assets/macos/loopline.icns"`

The mount icon is currently referenced in

[2015-05-28 21:28] #2 closed

[2015-06-02 22:21] justinmchase commented on #3
I've been working on this project for updates :smile:
https://www.npmjs.com/package/electron-updater

[2015-06-02 23:20] justinmchase opened #4 "Support windows?"
We are interested in using this project for building installers for our app. You mention on the readme to volunteer to help with this, so here I am :)

Specifically I would like to be able to run the installers on linux, so they can be built while running in travis and ideally windows also. I can contribute and help run, I also have appveyor for windows builds going so I can test it in a CI build.

[2015-06-03 08:20] stefanjudis commented on #3
Nice!!!

@justinmchase So I think we can close this one and refer to your project, right?

[2015-06-03 14:49] justinmchase commented on #3
You could. This project is new so it may not be perfect yet, but it seems to be complimentary to this one. I would appreciate any scrutiny and contributions are welcome.

[2015-06-03 15:10] stefanjudis commented on #3
Yeah let's do it like that. :)

Currently the updates are not prio, but I'd love to build up a family of `electron-packager`, `electron-builder` and `electron-updater`. :bowtie:

[2015-06-03 15:10] #3 closed

[2015-06-03 15:38] justinmchase commented on #1
I'm looking at trying to get it to run on windows right now. It seems like moving `appdmg` to an optionalDependency allows it to install successfully on windows. I don't think that moving it to a separate project is necessary. Hopefully will have a pull request shortly.

[2015-06-03 16:19] xcoderzach commented on #3
@justinmchase That's amazing, you're a lifesaver!  I'm going to use it and if I run into any issues I'll contribute them back.

[2015-06-03 17:26] justinmchase commented on #3
@xcoderzach Take a look at the issues, there are a few features not yet implemented. If any of those are blocking you let me know.

[2015-06-03 19:56] stefanjudis commented on #4
Sorry for late reply, had a busy day at work.

But thanks a lot for you jumping in!!! :bowtie:

[2015-06-03 20:12] stefanjudis commented on #1
Yeah it's more about putting complexity out to make the project easier to maintain.

But yeah - let's see where your PR brings us first. :)

[2015-06-04 07:57] stefanjudis commented on #3
@justinmchase @xcoderzach Great to see this going guys! :+1:

[2015-06-04 19:36] stefanjudis opened #7 "Support build on linux"
Follow up of #4.

[2015-06-04 19:37] stefanjudis commented on #4
Fixed by #5

[2015-06-04 19:37] #4 closed

[2015-06-04 19:43] stefanjudis opened #8 "Set up travis"

[2015-06-05 00:03] #8 closed

[2015-06-05 12:45] stefanjudis opened #9 "Explain flow better in readme"
As @psturm mentioned the workflow of combining electron-packager and electron-builder should be better explained.

[2015-06-05 16:43] sindresorhus opened #10 "Feedback"
Some quick things I noticed:

- `macos` => `osx`. It used to be Mac OS X, but now it's just OS X. It's never been Mac OS.
- Instead of a `packager.json` file, why not just put it in package.json under a `packager` field?
- The config is very verbose: https://github.com/loopline-systems/electron-builder#how-we-use-it-so-far It needs better defaults. Make it as easy as possible to do normal things l

[2015-06-05 19:39] justinmchase opened #11 "App is installed under "Programs Files (x86)" on windows even when specifying --arch=x64"
It appears to be getting the right binaries for electron but it seems to be putting it into the wrong location for some reason.

The code in the template is this: `InstallDir "$PROGRAMFILES\${APP_NAME}\"`

Which seems correct to me, so I'm not sure why this is happening. Filing this bug for posterity but I will investigate.

[2015-06-06 13:23] stefanjudis opened #12 "Make it easier to start and provide defaults"

[2015-06-06 13:25] stefanjudis commented on #10
@sindresorhus

Thanks for the feedback. :bowtie:

Agree, will change it.

I'm not sure about this one to be honest.

Totally agree on defaults ( #12 ).

Which duplication do you mean?

[2015-06-06 13:52] sindresorhus commented on #10
This is a lot of config. Wish it were a lot simpler by default to package and create installer for all platforms. Maybe some kind of abstraction module for the simple case, or even just better defaults.

[code]

[2015-06-08 08:15] radibit opened #13 "Change 'macos' to 'osx'"

[2015-06-13 17:03] delvedor opened #15 "Arguments to path.resolve must be strings"
Hi, I'm using this package with this npm-script
[code]
and I get this error (the packaging with electron-packager goes well):

[code]
What am I doing wrong?

[2015-06-13 23:09] stefanjudis commented on #15
@delvedor

Can you provide your `pack.json`?

[2015-06-13 23:13] delvedor commented on #15
@stefanjudis sure, here it is:
[code]

[2015-06-13 23:16] stefanjudis commented on #15
Can you set an icon?

We're still meaning defaults ( #12 ). Sorry for that.

[2015-06-13 23:40] delvedor commented on #15
By providing an icon all goes well, thanks!
Maybe can be a good idea put a default-icon if not provided in the configuration file.

[2015-06-13 23:43] stefanjudis commented on #15
Cool. Glad to hear that. :)

Yeah, I'm planning a make over (hopefully) next week to provide defaults and make the setup flow less complicated ( #12 ).

I'm closing here, as it's solved.
Feel free to reopen if you run in any more troubles.

[2015-06-13 23:43] #15 closed

[2015-06-14 16:48] krainboltgreene commented on #10
So I'm deploying a application with both electron builder and packager. So far it's been OK, I agree with the points made here though. There's a lot of work that could really be done inside a config (json) file that's being done inside command line parameters (or js api).

[2015-06-14 20:05] stefanjudis opened #16 "Simplify cli interface"

[2015-06-14 20:07] stefanjudis commented on #10
Thanks for feedback. :bowtie:

I totally agree on that.

First I want to provide better defaults. #12
Simplifying the command exposed via CLI would be the next step then. #13

Detailed wishes and ideas are welcome. ;)

[2015-06-14 20:51] krainboltgreene commented on #10
Yeah, I'm going to be doing some PR's pretty soon. builder saved me a LOT of time, I want to give back.

[2015-06-14 21:37] stefanjudis commented on #10
Sounds great!

Thanks. :bowtie:

[2015-06-17 08:01] s-a opened #18 "npm run build:macos ouputs nothing"
```npm run build:macos``` produces no output. Is this command possible on windows?

[code]

[2015-06-17 08:05] s-a opened #19 "How to define custom nsisconf.nsh?"
As far I can see nsis takes by default ```nsisconf.nsh``` within its program folder (on windows). Is it possible to point to a custom ```nsisconf.nsh``` from packager.json? I need this to define symbols for installer like version company and so on.

[2015-06-17 08:07] s-a commented on #7
:+1:

[2015-06-17 09:30] stefanjudis commented on #18
Uhm, this is an issue on https://github.com/maxogden/electron-packager or?

[2015-06-17 09:31] stefanjudis commented on #19
Jup. Sure.

We can tackle this in the future. :)

If you wanna PR, this would be more than welcome. :)

[2015-06-17 09:40] s-a commented on #18
So far electron system is new for me. This case would be ```pack:macos``` command I think?

[2015-06-17 09:43] stefanjudis commented on #18
Ja, but you're stuck with `build:macos` which is using `electron-packager`. Assuming you posted the complete output.

electron-packager -> create packed applications
electron-builder -> create installer for these packed applications.

[2015-06-17 09:44] s-a commented on #18
Yes! I was confused ^^ :+1: thanks.

[2015-06-17 09:44] #18 closed

[2015-06-17 09:45] stefanjudis commented on #18
No problem. :bowtie:

[2015-06-18 19:29] #13 closed

[2015-07-08 13:13] hotrush commented on #7
:+1:

[2015-07-08 13:14] stefanjudis commented on #7
https://github.com/loopline-systems/electron-builder/pull/14

That's the current state. :)

[2015-07-13 22:23] freewil opened #22 "fails if `--out` dir does not yet exist"
The output directory should be created if it doesn't exist yet

[code]

[2015-07-23 23:38] tengyifei commented on #11
Should use `$PROGRAMFILES64`

[2015-07-29 02:59] joeferraro commented on #7
@stefanjudis are you waiting for @justinmchase's PR to be migrated and implemented into `appdmg` before progressing on this side?

[2015-07-30 07:24] stefanjudis commented on #7
@joeferraro

Ja, kind of. Because `appdmg` might be the better place to implement the support. What do you think?

[2015-08-02 13:45] jurgob opened #25 ""Error: Building for ´osx´ is not supported" when I run "npm run pack:osx""
Hi,
when I try to run npm run pack:osx i get the following error error:

[code]

you can find my code here: https://github.com/jurgob/electron-builder-seed

[2015-08-02 22:07] stefanjudis commented on #25
Hey,

you're using the wrong version of electron-builder.

[code]

I just cloned your repo and with version `v2.0.0` it's working fine.

[code]

[2015-08-02 22:07] #25 closed

[2015-08-02 22:19] stefanjudis commented on #22
@freewil

Hmm, how did you reach this. I'm just trying it, and it's creating the directory fine.

[2015-08-02 22:52] jurgob commented on #25
It works, thanks!

[2015-08-03 04:07] freewil commented on #22
`electron-builder my.app --platform=osx --out=doesnotexist --config=electron-builder.json`

[2015-08-03 04:13] freewil commented on #22
If you still can't reproduce it, you should be able to with this command:

[code]

[2015-08-11 17:46] cha55son commented on #7
+1 I am currently trying to build for Linux/Mac/Win on a linux machine.

[2015-08-11 18:40] justinmchase commented on #7
Can someone on the appdmg team take it from here? I'm out of time on this one and I think we're going to be building installers on each platform for itself.

[2015-08-20 11:53] AlicanC opened #27 "Use Node.js platform identifiers"
electron-builder should use [Node.js platform identifiers](https://nodejs.org/api/process.html#process_process_platform) just like electron-packager does.

So the platform options `win` and `osx` should become `win32` and `darwin`.

[2015-08-20 17:18] justinmchase commented on #27
I agree :+1:

[2015-08-20 17:19] justinmchase commented on #22
Try using `--out=./doesnotexist`

[2015-08-20 18:01] stefanjudis commented on #27
Jap, sounds reasonable. :)

[2015-08-21 05:45] cha55son commented on #7
This works for me on Linux. We've already incorporated it into our build process. I would love to see this make it's way back into the main line.

[2015-08-21 22:25] justinmchase commented on #7
Maybe just take this PR for now and then if `appdmg` project implements the missing features you can pull it back out?

[2015-09-10 10:45] hhammoud01 opened #29 "Building on Windows"
Guys how do I build on windows ?
I installed NSIS but it is still giving me an error that makensis is not recognized and NSIS is not found.
Please help :(

[2015-09-10 11:27] stefanjudis commented on #29
Console output might help. ;)

[2015-09-10 11:32] hhammoud01 commented on #29
- Starting build for ´win´ -
- makensis not found.
  Please install "nullsoft scriptable install system"
  http://nsis.sourceforge.net/Download
... (error stack: ... )

The problem is that I already installed nsis but I keep getting this error :'(

[2015-09-10 11:34] stefanjudis commented on #29
Can you please paste the complete output of the terminal and your config files( `package.json`, `packager.json`)?

[2015-09-10 11:40] hhammoud01 commented on #29
- Starting build for 'win' -
- makensis not found.
Please install "nullsoft scriptable install system"
http://nsis.sourcefourge.net/Download

C:\Users\Hussein\AppData\Roaming\npm\node_modules\electron-builder\cli.js:30
   throw error;

Error: makensis failed
	at ChildProcess.<anonymous> (C:\Users\Hussein\AppData\Roaming\npm\node_modules\electron-builder\lib\win.js:72:26)
	at ChildProcess.emit (eve

[2015-09-10 11:47] stefanjudis commented on #29
I'm not sure if I can help there.

I assume, when typing `makensis` in your console, you get a `command not found` or something similar?

[2015-09-10 11:51] hhammoud01 commented on #29
yes, i get exactly "makensis is not recognized as an internal or external command, operable program or batch file"

[2015-09-10 11:54] stefanjudis commented on #29
Well... I'm not a windows person.

Sorry. :(

It has to be present in your environment. Before fixing that it simply can't work.

But if you found the problem, it would be great when you could check the docs here and maybe add some improvements?

Sorry, again that I can't help.

[2015-09-10 11:57] hhammoud01 commented on #29
neither am I but I need this to my work :(
I added this to my environment variables and it still did not work :/
Thanks for your help anyways.

[2015-09-10 12:02] null9beta commented on #29
hi @hhammoud01

have you tried opening a new terminal after you added the env variable.
afaik the global vars are only assigned once you open a terminal, same as for unix based shells/terminals

maybe that helps.

[2015-09-10 12:16] hhammoud01 commented on #29
yes I did that :(

[2015-09-10 12:37] null9beta commented on #29
Have you tried just adding the path in your current session?
[code]

[2015-09-10 12:54] hhammoud01 commented on #29
It worked !!! But I don't understand why, although in the first "echo %PATH%" it outputs the directory of makensis :/

[2015-09-10 13:07] null9beta commented on #29
my only guess would be that there might have been a typo when you where setting the global path and assigning the path again fixed it.

can you compare both echo outputs.

[2015-09-10 13:11] hhammoud01 commented on #29
They are the same :P hahaa lol :P

[2015-09-10 13:12] hhammoud01 commented on #29
thanks for the help. Issue fixed

[2015-09-10 13:12] #29 closed

[2015-09-10 13:14] stefanjudis commented on #29
:tada: Thanks @null9beta. :)

[2015-09-10 13:17] hhammoud01 opened #30 "Wrong Shortcut Icon after building on windows"
Hello,

After successfully building on windows, I get the wrong shortcut icon for the application. The icon of the application is the same as the one I assigned from the config file; but that of the shortcut of the application is an atom picture. (logo of atom electron). When I enter the properties of that shortcut (or any shortcut I create from the original application file then change icon, I ge

[2015-09-10 13:52] hhammoud01 commented on #30
The bug from windows I guess, I tried it on another version of windows and it worked.

[2015-09-10 13:52] #30 closed

[2015-09-15 16:23] sindresorhus commented on #27
:-1: `win` and `osx` are a lot more user-friendly. Just because Node.js uses those identifiers doesn't mean it's a good idea. I've seen countless of people being confused that `win32` is also the identifier for Windows 64-bit. Also not that clear that `darwin` is OS X.

[2015-09-15 16:27] justinmchase commented on #27
@sindresorhus Conversely I was confused as heck when it wasn't the same. Additionally, based on my understanding of the way the platforms are arranged, there's no reason why it can't be both:

[code]

Just add:
[code]

And everyone could be happy. It was in a PR a while back too:
https://github.com/loopline-systems/electron-builder/pull/14/files#diff-4b53c119f750f41905184bc503e871c6R10

[2015-09-15 17:10] AlicanC commented on #27
@sindresorhus I suggest you build a cross-platform application and see for yourself if it's user-friendly or not.

Keeping maps from `process.platform` or `process.arch` values to custom library values is not user-friendly at all. Node.js uses those values, [electron-packager](https://www.npmjs.com/package/electron-packager) uses those values and even [electron](https://github.com/atom/electron/re

[2015-09-15 19:39] stefanjudis commented on #27
@sindresorhus @justinmchase @AlicanC

I have to say I'm also on the "consistency" side here.

`electron-builder` will be used mostly in combination with `electron-packager`. Using the same identifiers just makes sense here ( if missed that when starting the project ).

Having `darwin` and `osx` included doesn't make sense to me. It's configuration and I see no benefit in implementing doubled optio

[2015-09-21 12:09] hhammoud01 opened #31 "Error on running electron builder"
This is the output after doing electron-builder myApp.app --platform =osx --output=./output --overwrite --config=./assets/config.json

Please help :/

- Starting build for ´osx´ -
Writing temporary ´appdmg.json´
Wrote temporary ´appdmg.json´
Kicking off ´appdmg´
module.js:338
    throw err;
          ^
Error: Cannot find module 'appdmg'
    at Function.Module._resolveFilename (module.js:336:15)

[2015-09-22 07:29] hhammoud01 commented on #31
Solved this issue by reinstalling node and electron-builder's required packages

[2015-09-22 07:30] #31 closed

[2015-09-22 09:57] hhammoud01 opened #32 "Icon problem After installing on windows from created installer:"
Issue is for WINDOWS 7: Icon shortcut is electron not my app's icon (my app is called anghami)
The exe in Program Files looks fine
If u look in the description of that file (bottom of that window) u can see electron icon which is not the case
If u look at shortcuts they have electron icon
Finally if u look at the output of resource hacker it shows Anghami's icon and not electron's icon

My config.

[2015-09-22 11:39] stefanjudis commented on #32
When filing an issue please include as much info as possible:

- `package.json`
- `packager.json`
- files eventually used
- log file
- system information ( node version, npm version, wi/mac/linux )

Thanks for the screenshot, but I can't say anything about that.

[2015-09-22 11:53] hhammoud01 commented on #32
Edited

[2015-09-22 23:58] stefanjudis commented on #32
Another note - please don't use `wtf` when filing issues on an open source project, this sounds really rude and won't speed up getting any help.

And when you paste code please wrap code block inside of three back ticks - so that it becomes readable.

Have you tried another icon, does this work?

I'm not sure I get the problem completely.
The exe inside of `program files` looks okay, but the short

[2015-09-23 04:25] hhammoud01 commented on #32
The exe in PF looks fine
If u look in the description of that file (bottom of that window) u can see electron icon which is not the case
If u look at shortcuts they have electron icon
Finally if u look at the output of resource hacker it shows Anghami's icon and not electron's icon

Thanks

[2015-09-23 05:41] stefanjudis commented on #32
Same behavior for any icon?

[2015-09-23 06:08] hhammoud01 commented on #32
Yup, same behavior on any icon

[2015-09-23 07:37] stefanjudis commented on #32
i'm not sure if I can help here right now.

I'm currently more than busy and I've got no windows machine at hand.
Feel free to ping after next week wednesday.

Unfortunately I have to say, that you have to dig yourself in https://github.com/loopline-systems/electron-builder/blob/master/templates/installer.nsi.tpl. sorry.

[2015-09-23 08:02] hhammoud01 commented on #32
It's okay. It is worth noting that this is not the case for windows 8 and windows 10, so it is probably a bug from the code that has to do with the platform itself ? I don't know so any suggestion is appreciated.

[2015-09-23 08:04] stefanjudis commented on #32
Ja suggestion is to dig and edit

https://github.com/loopline-systems/electron-builder/blob/master/templates/installer.nsi.tpl

-> try and error the shortcut creation,

Good luck.

[2015-09-28 10:10] hhammoud01 commented on #32
I have tries a lot with the file, did not work,
any thoughts ? :/

[2015-09-28 10:30] stefanjudis commented on #32
Maybe you want to list what you tried?
I haven't have a deeper look into that yet.

[2015-09-28 10:32] hhammoud01 commented on #32
Since I do not see any platform specific code, I tried different things, including renaming my icon file to icon.ico, changing the size of the icon did not work.
I tried these because that is not a problem on windows 8 or 10.

[2015-09-28 10:36] stefanjudis commented on #32
Did you check NSIS docs and bug tracker?
I can't believe that we're the only people having this problem...

[2015-09-28 10:37] hhammoud01 commented on #32
no i did not check that, reason is that I am not a windows user and I had some problems to understand how to install NSIS on windows. How do I check that anyways ?

[2015-09-28 10:39] stefanjudis commented on #32
Googling? :bowtie:

Maybe http://sourceforge.net/p/nsis/bugs/ includes something releated, too...

[2015-09-30 17:34] bitomule opened #33 "TypeError: Cannot call method 'normalize' of undefined"
I get this error trying to build windows.

This is the full log:

[code]

[2015-09-30 17:34] bitomule opened #34 "Code sign windows app"
Do I have to sign my windows app? How?

[2015-10-01 08:02] #33 closed

[2015-10-01 08:58] stefanjudis commented on #34
I'm not sure I understand what you mean. Could you please explain a bit?

[2015-10-01 09:01] stefanjudis opened #35 "Add contributing.md to get more meaningful issues"
we should inform people making issues, that there is a bit of information we need to help with issues.

- package.json
- packager.json
- command fired
- node version, npm version, OS details

[2015-10-01 09:27] bitomule commented on #34
I'm packaging an electron app for osx, linux and windows. My questions are:
- How do I sign my windows installer?
- Is it required by windows (will it show an alert to the user if I don't sign the app)

Thanks :)

[2015-10-01 09:29] stefanjudis commented on #32
I Just tried it on Windows 7. And still can't reproduce your problem.

![bildschirmfoto 2015-10-01 um 11 26 56](https://cloud.githubusercontent.com/assets/962099/10217371/9c6a3cd4-682f-11e5-8100-a80e2bedbd1a.png)

[2015-10-01 10:20] stefanjudis commented on #34
For now we're running without signation here...

If you could do some research about this topic - this would be awesome.
I'm not sure when I can have a look into it.

We're really interested in adding this feature.

[2015-10-01 11:13] joeferraro opened #36 "Support ability to specify install location on Windows"
This is helpful for folks who do not have admin access, for example

[2015-10-01 11:17] joeferraro commented on #11
http://nsis.sourceforge.net/Reference/$PROGRAMFILES

[2015-10-02 19:45] bitomule commented on #34
We've builded our app for windows without sign but hope to find a way soon. I'll post if I find a way.

[2015-10-04 14:29] stefanjudis commented on #34
@bitomule Thanks.

But let's keep this issue open then, as signation for windows apps is a nice feature. :bowtie:

[2015-10-04 15:44] #16 closed

[2015-10-04 18:39] halink0803 opened #38 "Can't open output file"
I have tried to use Electron Builder to build Windows installer. However, I just can build one time, but when I install it throws error:

![error](http://i.imgur.com/QmlTHj2.jpg)

I tried to build it again, but this time it throws error:

    makensis:
    Output: "\Users\hoangha\HaLink\service-oriented-architecture-assignment\desktopApp\~Desktop\\SOA Library Setup.exe"

    makensis: Can't open o

[2015-10-04 20:10] stefanjudis commented on #38
It looks like you build the application including `electron-packager` inside of your actual application executable.

Can you check your settings for `electron-packager` and make sure, you do not include these `electron` modules in your application.

I assume you're on a different OS then windows?

[2015-10-05 01:10] halink0803 commented on #38
Thank you. It helped. I build it on OSX not in Windows.

[2015-10-05 01:10] #38 closed

[2015-10-05 11:31] stefanjudis commented on #32
@hhammoud01 any news here?

[2015-10-05 17:36] Akamaozu commented on #33
@bitomule did you solve this problem? if so .. mind sharing how?

[2015-10-06 06:51] timbod7 opened #39 "Problems with native modules"
My workflow for an electron app is

[code]

The last step is failing with the following error:

[code]

I believe this is happening because the electron-builder script is running using a node implementation incompatible with electron (which is why the electron-rebuild script is necessary):

[code]

Is this a bug? What is the recommended way to build build distributions with native modules?

[2015-10-06 19:16] stefanjudis commented on #39
@timbod7 Hmm that's interesting.

I haven't had this problem yet.

So according to your assumption running `electron-builder` with the same node version electron ships should solve the problem, correct?

Can we confirm that, maybe using `nvm`or something?

[2015-10-06 19:43] stefanjudis opened #40 "Check window installation script from blog post"
https://scotch.io/tutorials/creating-desktop-applications-with-angularjs-and-github-electron

[2015-10-06 20:45] #35 closed

[2015-10-06 21:47] #22 closed

[2015-10-06 21:52] timbod7 commented on #39
Yes. I can confirm that running `electron-builder` with the matching node version works ok. `nvm` was a good suggestion - I'm new to the node js world and wasn't aware of it. If I use it to select the correct version first, and drop the electron-rebuild step, everything works ok, ie:

[code]

[2015-10-06 21:57] stefanjudis commented on #39
@timbod7

Cool - glad we found at least a temporary solution. :bowtie:

I'm really interested in digging a bit more into this problem - might take some time, but I'd love to solve this for future cases. :)

Can not promise it happens quickly. So you're okay with nvm setup for now?

Any help researching and debugging here is also more than welcome.

[2015-10-06 21:58] timbod7 commented on #39
Yes - happy with the nvm solution for now. Thanks for your help on this.

[2015-10-06 21:59] stefanjudis commented on #39
Anytime. :)

[2015-10-08 01:42] davidcrawford commented on #33
I saw the same issue since apt-get on ubuntu had installed v0.13.0-pre, which doesn't include the v0.12 change `path` to include `win32`.  Installed v0.12.7 and the problem went away.

[2015-10-08 06:52] bitomule commented on #33
If you are on osx/linux check you have installed:

[code]

And that you're running node 0.10.33 for osx and linux builds and 0.12.0 for windows. That fixed all our issues. In our package.json we've configured scripts that change node version, build and package for all the platforms (32 and 64 bits)

[2015-10-08 11:14] stefanjudis opened #43 "Define supported node versions in package.json"
https://docs.npmjs.com/files/package.json#engines

`path.win32.normalize( p );`

Is not supported on every node version - so we should commincate that.

[2015-10-08 11:15] stefanjudis commented on #33
We'll tackle this for the future. :bowtie:

#43

[2015-10-09 02:58] Akamaozu commented on #43
Would it be easier to put path as a dependency to be installed from npm?

That way you get around requiring a specific version of node.

[2015-10-09 02:59] Akamaozu commented on #33
@bitomule thanks for the details. that solved the problem :)

[2015-10-09 06:40] bitomule commented on #33
Great @Akamaozu :)

[2015-10-09 07:46] stefanjudis commented on #43
`path` is a module coning with node itself. So it can't be installed via npm. ;)

[2015-10-09 08:41] Akamaozu commented on #43
so even though it's on npm and you can require it doesn't mean you can use it?

Interesting.

https://www.npmjs.com/package/path

[2015-10-09 08:53] stefanjudis commented on #43
Whooot?

This doesn't make sense to me at all... :D

Never the less I'd stick to the "real" one coming with node and simply restricting node versions, what do you think?

[2015-10-09 09:08] Akamaozu commented on #43
If the only reason we need a specific version of node is because of the version of path it comes with and we can simply require a newer version of path, I think it's worth it.

If you're concerned, we can lock path version down ...

[2015-10-09 09:21] stefanjudis commented on #43
Let me do some research there. :)

I see the point - but extracting native modules and mixing node-versions and its native module versions feels really bad to me.

Will have a detailed look at the weekend.

[2015-10-09 14:20] NetanelBasal opened #44 "Error opening file for writing in windows"
I make a simple build in OSX to windows EXE and when i try to run this on windows i get this error when installing, even with admin access:

![Image error](http://s21.postimg.org/46o3cmmon/Screen_Shot_2015_10_09_at_17_16_43.png)

[2015-10-09 21:18] stefanjudis commented on #44
Hey, please follow the contribution guidelines when reporting issues.

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

And can you please check if the solution for #38 also helps you?

[2015-10-10 17:06] NetanelBasal commented on #44
The installing pass, but the application does not work:
1. The shortuct in the desktop appear without the icon.
2. The EXE file does not exists in the c:/programfiles/appFolder folder

[2015-10-14 03:31] stormtea123 opened #45 "Error running `tiffutil`! Exit code was 5"
[code]
`package.json`
[code]
`packager.json`
[code]

[code]

[2015-10-14 13:01] stefanjudis commented on #45
Please follow contribution guideline. :)

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

[2015-10-14 14:14] stormtea123 commented on #45
@stefanjudis  I have update

[2015-10-14 15:07] stefanjudis commented on #45
@stormtea123

Hey hey, thanks for the update.
First thing I notice is, that you're including the `electron-builder` inside of your distribution build.
This shouldn't be the case, or?

Can you please ignore modules that are not needed via `electron-packager`?
After that - we can check the what's going on with `appdmg` there, deal? :bowtie:

Docs to packager: https://github.com/maxogden/electron-pac

[2015-10-14 15:47] stormtea123 commented on #45
@stefanjudis Thank you.
`electron-packager` no problem,I have resolved with https://github.com/LinusU/node-appdmg ,
[hummingbird](https://github.com/stormtea123/hummingbird/releases) is builder I use `node-appdmg`.

[2015-10-14 15:49] stefanjudis commented on #45
Sorry I don't understand that?

all good now?

[2015-10-14 16:02] stormtea123 commented on #45
I resolved with [node-appdmg](https://github.com/LinusU/node-appdmg) , Not with `electron-builder`

[2015-10-14 16:04] stefanjudis commented on #45
So we can close this here?
You resolved the issue?

If you have no problems anymore - please close the issue.

[2015-10-14 16:15] stormtea123 commented on #45
'electron-builder' will still appear above error, I expect you to fix it. Temporarily use `node-appdmg` substitute 'electron-builder',do you understand me? :bowtie:

[2015-10-14 16:16] stefanjudis commented on #45
Can you please answer my questions then first?

[2015-10-14 18:59] stormtea123 commented on #45
@stefanjudis  Sorry, my english is not very good,  i'm so sorry i didn't make myself clear.
 I have update `package.json`
`ignore modules that are not needed via electron-packager`

[2015-10-14 19:02] stefanjudis commented on #45
That's no problem at all.
Can you please give me the link to your project again?

( I assume you deleted your comments? )

[2015-10-15 07:13] stormtea123 commented on #45
I've updated my [project](https://github.com/stormtea123/hummingbird)

[2015-10-15 21:17] stefanjudis commented on #32
Closed due to inactivity.

[2015-10-15 21:17] #32 closed

[2015-10-15 21:23] stefanjudis commented on #45
@stormtea123

I'm pretty sure you have a different state on github than on your local machine?
The `packager.json` on github does not include `background.png`.

[2015-10-15 22:09] #45 closed

[2015-10-15 22:11] stefanjudis commented on #45
@stormtea123 I think it's fixed with version `v2.0.2`. Can you please confirm?

If not feel free to reopen.

[2015-10-15 22:49] stefanjudis commented on #43
@Akamaozu

Hey hey, I checked again and actually the `path` module on npm is already behind the current natively shipped `path` module.

Especially since io.js was merged back into node it's moving really really fast.

The npm `path` is missing one commit right now.

https://github.com/jinder/path/blob/master/path.js#L425-L427
https://github.com/nodejs/node/blob/ac2bce0b0c91ba9fc593d8c53c68b42d3c1

[2015-10-16 01:54] stormtea123 commented on #45
Thank you, `v2.0.2` is ok.

[2015-10-20 06:43] stefanjudis commented on #44
Closed due to inactivity.

[2015-10-20 06:43] #44 closed

[2015-10-22 09:37] jakubzitny commented on #12
+1

[2015-10-22 10:59] vxsx opened #50 "Add ability to specify your own installer.nsi.tpl"
If i want my app on windows to run only as admin i would need to add
[code]
to the installer.nsi, but at the moment it's only possible to do by modifying the template file inside of the module.
It would be great to have a possibility to specify a path to your own template to be able to make any customisations you want.

If you're interested in this functionality I'll be able to submit a PR around

[2015-10-22 15:51] stefanjudis commented on #50
Sounds great - I'd love to take a pr solving this. As this is solving another issue into the list. :)

Thx.

[2015-10-26 18:28] sunnyrjuneja opened #52 "macOS pkg installer"
I'm writing a GUI application that requires root permissions to modify `/etc/hosts`. Based on the following issue, I found myself here:
https://github.com/maxogden/electron-packager/issues/87

Is it possible use this installer to ask for administrative permissions? I personally only need to suport OS X.

I believe that this would be a great feature. I've seen it asked for in the following places (

[2015-11-01 13:16] #50 closed

[2015-11-01 17:12] stefanjudis commented on #52
Honestly I've got no idea about that.

But as we simply using https://github.com/LinusU/node-appdmg here - you might want to ask there? :bowtie:

[2015-11-02 17:46] whatasunnyday commented on #52
Cool, would you like me to close the issue @stefanjudis ?

[2015-11-02 18:08] stefanjudis commented on #52
Let's keep it and link it to the issue over there then. :)

[2015-11-05 19:16] Frondor commented on #29
I'm null at windows as well, but I need to deal with this problem.I don't know what to do with, even if I write `echo %path%` in cmd.exe it prints the whole list of paths, but what should I write after `set=%PATH%` ? The whole list? Just a single path?

    echo %PATH%;
    set PATH=%PATH%;C:\...
    echo %PATH%;

[2015-11-05 21:27] aaronfrost opened #55 "More info on osx.contents"
I would like to dive deeper into the `config.osx.contents` stuff, but I can't find where to read about additional options to put in there. Like I would like to change the zoom of the window, and things of that nature. Any ideas on where I can go for help on this?

[2015-11-05 21:27] aaronfrost commented on #55
Not sure how to add the "question" label. Sorry.

[2015-11-05 23:08] aaronfrost commented on #55
I found the content I wanted on appdmg's repo. https://www.npmjs.com/package/appdmg

[2015-11-05 23:08] #55 closed

[2015-11-06 00:19] Frondor opened #56 "Add example application"
I've been struggling with windows' build/packaging processes for days! Finally I managed to package the app (note the use of `rimraf` instead of `rm --rf` because it wasn't working, someone should make a PR for it), the installer gets built but the application itself always run `/default_app` instead of my real `/app` (although I want to use asar technology and by the way, I don't know how because

[2015-11-06 08:43] stefanjudis commented on #56
Please follow:

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

This is open source - so want to take the action?

[2015-11-06 08:44] stefanjudis commented on #55
@aaronfrost

Can you maybe update the readme, so that people won't struggle in the future?

[2015-11-06 08:57] aaronfrost commented on #55
Definitely. I will submit a PR. Thank you!!!!!!

[2015-11-06 09:00] stefanjudis commented on #55
I have to thank you. :P

[2015-11-06 09:02] Frondor commented on #56
Never did a pull request before :) I don't want to screw anything up.
I've noted that window's support for this project is really limted, and it still need a lot of coding/documentation to do, like that about `rm --rf`. I was also hitting my head against the wall because I was getting [this](https://i.gyazo.com/e03cdbf1e1fa7c7192f0ec2c968b274b.png) error, which resulted to be part of a mistake of

[2015-11-06 09:08] stefanjudis commented on #56
Nope, don't agree. That's the path you want to create the installer for. If you're using a wrong path it's not the fault of `electron-builder`.

I'm pretty sure, when you keep the right tone and be friendly every open source maintainer (myself included) will help you and guide you through a PR.

Just in case you didn't all of my last comment because I edited it.

This is not the way to open an iss

[2015-11-06 09:10] stefanjudis commented on #56
I'm closing here, feel free to reopen.

[2015-11-06 09:10] #56 closed

[2015-11-06 09:38] Frondor commented on #56
The `!` are not intended for anything but expressing my pain. I'm not forcing anyone to fix it for me, I'm just trying to notify something which isn't working for me, and making a suggestion just in case someone **who knows** (because I don't) can fix it, or at least help me.
A sample app would be nice because everyone can start from there.
I would make a pull request with a sample app, but mine i

[2015-11-06 09:42] stefanjudis commented on #56
Well... I'd be careful with that. Asking people for help with `!` doesn't work really well. ;)

A sample app is on the roadmap, but that's really hard to achieve it cross platform.

If you could follow this ( another thing when opening issues ):

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

I can try to help.

[2015-11-06 21:59] ANTPro commented on #34
It easy:
- Sign all *.exe in app
- Build installer with uninstaller
- Install app uninstaller for sign
- Sign uninstaller
- Build installer with signed uninstaller
- Sign installer

[2015-11-07 06:58] antelle opened #62 "Grunt plugin?"
Great tool, thanks :+1:
Are there any grunt plugins for this?

[2015-11-07 09:17] stefanjudis commented on #62
Nope, not yet. :)

Shouldn't take long to put one together... Feel free to go ahead if you need it quickly. :bowtie:

[2015-11-07 09:19] stefanjudis commented on #52
@whatasunnyday

As far as I see ( LinusU/node-appdmg#73 ) - achieving this is not possible here at all.

We maybe will offer to create real installer someday though. :bowtie:

[2015-11-07 09:21] stefanjudis commented on #34
@ANTPro

I'm a total noob in this topic. So can you maybe explain a bit more in detail...

How do I sign a *.exe at all? Is there a command for that? Or how does it work.

[2015-11-07 09:22] antelle commented on #62
Yes, it's pretty easy. I've created it [here](https://github.com/antelle/keeweb/blob/master/grunt/tasks/grunt-electron-builder.js), would you mind if I publish it to npm, or you will create one yourself later?
There's already a package [grunt-electron-builder](https://www.npmjs.com/package/grunt-electron-builder) but it's totally different and it doesn't work for me at all.

[2015-11-07 09:27] stefanjudis commented on #62
No sure - go ahead. If you want to maintain it in future it sounds awesome to me.

Maybe we want to quickly chat with the person? This looks like a horrible name collision here. And maybe we can work around that somehow without having kind of same samed packages on npm.

What would be you preferred name btw?

Thanks. :)

[2015-11-07 09:33] antelle commented on #62
When I've found that [grunt-electron-builder](https://github.com/Art2B/grunt-electron-builder), I thought, it was for your project. That would be the best name for it. But I'm not sure about their plans. That project has 0 stars, 0 forks and was last updated 3 months ago, the author might have lost interest in it. I think yes, it's better to write them and ask to rename it.

[2015-11-07 09:34] stefanjudis commented on #62
Jap, exactly... :) Let's check that first. Thanks for jumping in.

[2015-11-07 11:43] ANTPro commented on #34
[Tools for sign](https://drive.google.com/file/d/0B0xt0uRv0J11TXFPOWdZQmZVRWc/view?usp=sharing)
Sample:

    signtool sign /f "{signing}.pfx" /p {PASSWORD} "{App}.exe"

[Now to sign uninstaller](http://nsis.sourceforge.net/Signing_an_Uninstaller)

[2015-11-07 15:02] rishson opened #63 "Change behaviour of the --out cli param"
[Enhancement request]
Hi.
Any chance we could change the behaviour of the --out param from specifying the output directory, to specifying the output file (and path)?

e.g.

```--out=packaged``` (Creates ./packaged/MyApp Setup.exe)
to
```--out=packaged/MyApp_currentVersion_setup.exe``` (creates ./packaged/MyApp_currentVersion_setup.exe)

This has the following benefits:

- Allows for templating of

[2015-11-08 12:56] stefanjudis commented on #63
Thanks.

Hmm... I like the fact, that users don't have to deal with the file format when creating crossplatform installers.

But yeah - might be a good idea. :)

[2015-11-08 13:55] rishson commented on #63
Maybe keeping ```--out``` as it is and adding ```--outfile``` as a separate option, so as not to introduce a breaking change, but allow this ability as well?

[2015-11-08 13:56] stefanjudis commented on #63
Ja, that's what I first, too. :)

So I think that's a good idea that helps everybody. :+1:

[2015-11-08 14:03] rishson commented on #63
:+1:

[2015-11-12 15:52] nicksmetBagaar opened #66 "Building on windows - nsis not found"
hello,

I'm making a windows only app for the first time. I'm building with this command :
electron-builder \"dist/win/somename-win32-ia32\" --platform=win --out=\"dist/win\" --config=packager.json

But it keeps failing on nsis. Nsis is correctly installed. What can I do to fix this ?
this is my packager.json file :
  {
  "osx" : {
    "title": "SomeName",
    "background": "assets/osx/installer.p

[2015-11-12 22:52] #9 closed

[2015-11-12 22:53] stefanjudis commented on #19
It's no included in options. :)

[2015-11-12 22:53] #19 closed

[2015-11-12 22:56] stefanjudis commented on #66
hey, is the `makensis` command available in your command line?

[2015-11-13 08:26] nicksmetBagaar commented on #66
No it isn't. I tried setting the PATH variable like suggested in another thread. But no luck so far

[2015-11-16 14:31] championswimmer commented on #7
Are we able to build .deb with this as of now ?

[2015-11-16 15:02] stefanjudis commented on #7
Nop - haven't tried that yet and is not implemented. sorry.

[2015-11-16 15:05] championswimmer commented on #7
Cool, that allows me the opportunity to come with a pull request then. :)

[2015-11-16 15:05] stefanjudis commented on #7
Sounds awesome!!!

[2015-11-17 07:17] astoilkov opened #68 "Can't install wine"
I know this is not probably the right place but I can't install wine when executing the command provided in the readme. Anyone knows why?
[code]

[2015-11-17 07:44] radibit commented on #68
@astoilkov

Hey, possible reason I can think of is due to a SourceForge temporary unavailability.

Also if you're using Homebrew, be sure to run `brew update` first :)

[2015-11-17 09:04] astoilkov commented on #68
I ran `brew update` and then everything worked perfectly. Thanks.

[2015-11-17 09:04] #68 closed

[2015-11-18 05:14] mkaz commented on #34
@bitomule if you are building on OS X, you can use the Mono tool `signcode`

You will need to get a valid code signing certificate, which likely will cost some money. After you have the certificate installed in your Mac Keychain. You can export it to a PFX/P12 file and follow these instructions to [convert it to a SPC and PVK file][1]

Once you have the SPC and PVK file, you can sign using:

`sign

[2015-11-18 14:49] khornberg opened #69 "tiffutil error"
This relates to #45

When I had either a blank background key or a non existing file I get a `tiffutil` error.
This was fixed by adding a background.

[2015-11-18 17:26] stefanjudis commented on #69
Hey.

Please provide more information and follow https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md.

[2015-11-18 19:50] khornberg commented on #69
Error below

[code]

The [files](https://github.com/khornberg/docker-indicator) I'm using are available. If one changes the background value to a blank string in the `packager.json` the above error is produced. I'm using node 4.2.2 and npm 2.14.7 on OS X.

This may not be an issue since it can be worked around by using a background image. I chose a 1x1 blank image. The fact that a background image

[2015-11-18 19:55] stefanjudis commented on #69
Thanks. This is actually not on the side of `electron-builder`. Will ask at `appdmg` about that.

[2015-11-18 19:59] stefanjudis commented on #69
I will update the documentation here when this question is resolved over at `appdmg`.

Thanks.

[2015-11-18 22:40] stefanjudis commented on #62
@antelle

any news here. I'm closing this one for now - but feel free to reopen. :)

[2015-11-18 22:40] #62 closed

[2015-11-18 22:43] stefanjudis commented on #52
@whatasunnyday I think we can close this one here.
Feel free to reopen if needen.

Creating real installers feels a bit like overhead for me now. :bowtie:

[2015-11-18 22:47] stefanjudis commented on #66
I'm not sure, that we can help with this one, as it is connected to your environment and the `makensis` command is mandatory for `electron-builder` to work.

Sorry. :(

Feel free to reopen.

[2015-11-18 22:47] #66 closed

[2015-11-19 10:01] dietlev opened #70 "Default screen when building app"
Hey all,

I created a small app using Electron, which is working just fine.
However, when I try to build it, I get some weird results.

The building itself works fine, but when I open the .app, I see the "Welcome to Electron" title instead of the app.

![screen shot 2015-11-19 at 11 02 07](https://cloud.githubusercontent.com/assets/868055/11267680/0886673c-8ead-11e5-8a26-2b3736b170e4.png)

I creat

[2015-11-21 21:27] etiktin opened #75 "Add Linux .deb and .rpm support using FPM"
There's an awesome project called [FPM](https://github.com/jordansissel/fpm) that allows you to generate .deb and .rpm packages.

It's written in Ruby, so users will need to install it on their own, but that's already the case for NSIS.

There's an Electron starter project that already uses it, called [Electron SuperKit](https://github.com/Aluxian/electron-superkit). Here's how they are using FPM:

[2015-11-25 07:56] stefanjudis commented on #75
Sure - I haven't had the time to check the projects in detail - but supporting linux packages sounds awesome. :+1:

[2015-11-25 07:57] stefanjudis commented on #7
Closed because of more detailed solution here:

https://github.com/loopline-systems/electron-builder/issues/75

[2015-11-25 07:57] #7 closed

[2015-11-25 07:58] stefanjudis commented on #70
@dietlev

Still having problems here?
Will have a look at it today - if so. :bowtie:

[2015-11-25 08:06] dietlev commented on #70
Good morning ( in Belgium )
Yes, I still have the same issue. My app is finished, just the building part is not working properly.

Thanks in advance :)

[2015-11-25 08:07] stefanjudis commented on #70
Cool. :+1:

But I shall still check https://github.com/dietlev/electron-build-demo ?

[2015-11-25 08:08] dietlev commented on #70
Yes, if that's working I can see where the actual app is going wrong

[2015-11-25 08:08] stefanjudis commented on #70
okidoki. :+1: I'll have a look around 1pm. :)

[2015-11-25 11:19] stefanjudis commented on #70
@dietlev

The problem appears already in `electron-packager`, right?
That's what I noticed - point is that you're missing a `package.json` in your `app` folder.

From the electron docs.

So with this `package.json` in root ( I updated also electron-packager )

[code]

and this dummy `package.json` in app folder

[code]

your demo app in development, the `.app` and `.dmg` run fine.

I'm closing her

[2015-11-25 11:19] #70 closed

[2015-11-29 23:37] etiktin opened #80 "Add an option to set a start screen shortcut with a specific AppUserModelID"
Windows notification support was added to Electron in v0.35. To make notifications work on Windows 8/8.1, you need to add a shortcut to the start screen that contains the same AppUserModelID as the one you set in your app using `app.setAppUserModelId(id)`.
NSIS apparently supports setting AppUserModelID:
http://nsis.sourceforge.net/ApplicationID_plug-in

It would be awesome if we support that, so

[2015-11-30 07:49] stefanjudis commented on #80
:+1:

[2015-12-09 10:26] demetris-manikas commented on #34
NSIS provides an example for [Signing an Uninstaller] (http://nsis.sourceforge.net/Signing_an_Uninstaller)

It is something to start with but it will only work on a windows machine.

My opinion is that makensis should have an option or any other simple way to just dump the uninstaller

[2015-12-10 12:24] demetris-manikas commented on #34
I have created a branch https://github.com/demetris-manikas/electron-builder/tree/FEAT-win-uninstaller-separate that generates the uninstalller as a separate program and includes it in the install . Since the uninstaller is located on the development machine it can be signed by executing an external command.
eg !system "${sign command}  ${UNINSTALL_EXE}" = 0
the later is not implemented yet since

[2015-12-10 17:36] demetris-manikas commented on #36
Before proceeding  with this feature electron-builder needs to get rid of the RMDir /r $IINSTDIR in the uninstaller as mentioned by
http://nsis.sourceforge.net/Reference/RMDir
http://nsis.sourceforge.net/Validating_$INSTDIR_before_uninstall
Otherwise bad bad things will happen eventually

[2015-12-14 10:47] havenchyk commented on #62
Hey @stefanjudis, JFI, since there is no response from the author of grunt-electron-builder, I've published [grunt-electron-builder-wrapper](https://www.npmjs.com/package/grunt-electron-builder-wrapper)

[2015-12-14 10:50] stefanjudis commented on #62
You waited 18h? That's not that long. ;)

Ja but sure - go ahead. If you want to add `grunt-electron-builder-wrapper` to the readme here please feel free to add via PR.

I can also have a look it at it if you wish - when it's up and running. :)

[2015-12-14 11:40] havenchyk commented on #62
Yep, but i haven't time to wait, so published it with another name.  Thanks for you quick response and possible help, i really appreciate it.

[2015-12-14 11:43] stefanjudis commented on #62
Just to keep quality of npm packages high in the future. You're aware of the fact the you can install any git repo with npm?

Usually there is no need of publishing anything that is not ready yet ( e.g. your package is lacking a readme ) ;)

But anyways - sure. Wif you have troubles let me know. :)

[2015-12-14 12:17] havenchyk opened #89 "Difference between electron-builder and grunt-electron-installer"
Hi, I haven't found in the readme any difference between this package and [atom/grunt-electron-installer](https://github.com/atom/grunt-electron-installer)

Could you please describe the differences for people who wouldn't like to compare sources of two packages?

[2015-12-14 12:36] stefanjudis commented on #89
Sure we might wanna do that.

In short afaik:

- `grunt-electron-installer` has a hard grund dep | we have no hard build system dep
- `grunt-electron-installer` only creates windows installers | we create windows and mac installers
- `grunt-electron-installer` works only on windows | we work cross platform
- `grunt-electron-installer` uses squirrel for creating | we use nsis but might wanna suppor

[2015-12-14 12:38] havenchyk commented on #89
@stefanjudis great, thanks, this should be in readme!

`offtop` since you're not using squirrel, is it possible to make autoupdates working with installer, provided by electron-builder?

[2015-12-14 12:40] stefanjudis commented on #89
pretty sure it is - haven't tried it yet though.

But in my head is definitely provide squirrel option too here.

[2015-12-14 12:41] havenchyk commented on #89
Great, thank you. Let's leave this issue since we need some changes in readme before closing, I guess :smile:

[2015-12-14 12:42] stefanjudis commented on #89
well... feel free to bring it in. :)

[2015-12-14 12:44] havenchyk commented on #1
Is there any updates here?

[2015-12-14 12:45] stefanjudis commented on #1
Let's keep it like it is for now here. :)

[2015-12-14 12:45] #1 closed

[2015-12-14 12:49] havenchyk commented on #1
But what about the topic? Is there any result?

[2015-12-14 12:53] stefanjudis commented on #1
Well... yeah could be.
It might make sense to have a nsis installer module in npm out there.
But I have not the time to do that currently and `electron-builder` is running smoothly as it is right now. :)

[2015-12-14 13:36] AlicanC commented on #34
When people run our installer, they get this:
![](http://snaps.alicanc.com/2015-12-14_151114.png)

They have to click "More info" to see the "Run anyway" button:
![](http://snaps.alicanc.com/2015-12-14_151137.png)

One of our customers also had a problem where their anti-virus automatically sandboxed the installer and broke it.

I assume these are happening because the installer is not signed so s

[2015-12-14 13:39] stefanjudis commented on #34
Totally agree on investigating squirrel. :+1:
How to they solve this issue?

[2015-12-14 14:05] AlicanC commented on #34
[They say](https://github.com/Squirrel/Squirrel.Windows/blob/master/docs/advanced-releasify.md#setupexe-signing) that `Squirrel.exe` has a `signWithParams` argument which makes it use `SignTool.exe` to sign the installer and the executables you pack in. They make it sound as easy as pie.

AFAIK, the whole Squirrel process is:
- Create a NuGet package spec (just a plain XML file)
- Create a NuGet p

[2015-12-14 14:06] stefanjudis commented on #34
Ja I'd totally be open for that - but am not sure I can tackle that in near future.

Running with NSIS and Squirrel in parallel ( as a type option ) would be my desired way to go here. :)

[2015-12-14 14:20] mkaz commented on #34
@AlicanC - I wrote up instructions how we are signing our app, which also explains the SmartScreen
https://mkaz.wordpress.com/2015/12/09/code-signing-a-windows-application/

[2015-12-14 14:59] ANTPro commented on #34
@mkaz you not sign **UnInstaller**.
It not hard:
In installer script disable all except UnInstaller(for fast build)
[code]

[2015-12-14 15:04] mkaz commented on #34
@ANTPro - unfortunately our build only works on OS X at this time, due to some complexity in the application itself, so the above code wouldn't quite work.

Also, I haven't seen any problems when running the Uninstaller, isn't signing it a bit overkill?  I'm signing the one binary that we are distributing which cryptographically confirms that it came from us. I don't necessarily also need to sign

[2015-12-14 15:16] ANTPro commented on #34
Some antivirus remove all * .exe that are not signed.
I did not find confirmation of the fact that it is necessary to sign the uninstaller (Did not need to sign :))

[2015-12-14 15:53] justinmchase commented on #1
@havenchyk The update was to make `appdmg` into an optional dependency and to then fix it up to work on windows. This now works on windows, but you do have to install `nsis` separately first and make sure its in your path.

[2015-12-15 09:46] havenchyk commented on #1
@justinmchase but what is better for windows: `nsis` or `nuget`? AFAIK, `nuget` is newer.

[2015-12-15 15:24] justinmchase commented on #1
I haven't been apart of that discussion. As far as I know `nuget` doesn't build installers. But I've been out of the `.net` loop for a while so that could be a new thing. But anyway, I think you'd have to install nuget separately too. No?

[2015-12-15 15:24] havenchyk opened #92 "Exception during running the command from another folder"
Hi, during running the script not from the folder where electron is located, I've got

[code]

Could you @stefanjudis assist to find the correct place where fix should be added?

[2015-12-15 15:26] havenchyk commented on #1
@justinmchase I'm just a newbie here and would like to create `.msi` and `.dmg` files for my app, nothing more :)

[2015-12-15 18:00] justinmchase commented on #1
@havenchyk Well you're in the right place then I think. I don't think NuGet creates .msi's. nsis does, which is why you need it installed. This package essentially just drives nsis with a consistent cross-platform node-friendly api. But nsis does all the work.

[2015-12-16 02:08] xwartz opened #93 "Building win32 on Mac"
Hi,
When I try to run pack:win, i get the following error:

[code]

npm scripts:
[code]

packager.json
[code]

What can I do to fix this ?

[2015-12-16 08:35] stefanjudis commented on #93
Can you try an `.ico` file AS icon? I don't think PNG ist supported.

[2015-12-16 10:21] havenchyk opened #94 "Improve documentation for makensis"
Hi, I've installed nsis for windows, but still get

[code]
Should I add it also to path?

[2015-12-16 10:23] havenchyk commented on #94
I found #29, can we add this info in the readme probably in the troubleshooting section?

[2015-12-16 10:30] havenchyk commented on #92
The first issue was on linux, the same i've got on windows today.

`makensis: File: "Client\myapp-win32-x64\*" -> no files found.`

BTW, the path should be `client\myapp-win32-x64\`, where first *c* is small, but stack prints me capitalized value.

[2015-12-16 11:09] stefanjudis commented on #92
Which `electron-builder` version are you on?

I had a fix about this recently.

[2015-12-16 11:33] havenchyk commented on #92
I believe I'm on the latest version.

[code]

[2015-12-16 11:44] stefanjudis commented on #94
@havenchyk please do. :+1: :)

[2015-12-16 11:45] stefanjudis commented on #92
Hmm, the path is coming from here.

https://github.com/loopline-systems/electron-builder/blob/master/cli.js#L34

Maybe you could dig a bit or provide me your detailed config so that I can have a look. :)

[2015-12-16 11:51] havenchyk commented on #92
@stefanjudis I found the "normalization" [here](https://github.com/loopline-systems/electron-builder/blob/master/lib/win.js#L33). It explains the problem with linux, but not with windows.

[2015-12-16 11:52] stefanjudis commented on #92
If you provide me your config I can have a look tonight.

[2015-12-16 11:57] xwartz commented on #93
I tried but throwed the same error:

[code]

[2015-12-16 11:59] havenchyk commented on #92
Sure, I'll provide it later.

BTW, relative path is not working, but with absolute path for appPath everything works fine (after removing `_windowsify`, of course.

[2015-12-16 12:06] stefanjudis commented on #93
Any chance to provide me your icon and config? So that I can try it myself tonight. :)

[2015-12-16 12:46] xwartz commented on #93
I made a mistake. I copied an incorrect directory.

Thanks.

[2015-12-16 12:46] #93 closed

[2015-12-17 14:25] havenchyk opened #95 "`Question`: Why appdmg is an optional dependency?"
Hi @stefanjudis!

I founded that `appdmg` is in a list of optional dependencies, could you please clarify, why?

[2015-12-17 14:40] stefanjudis commented on #95
To not break windows builds as it's not working on windows. :)

[2015-12-17 14:42] havenchyk commented on #95
But why should it break windows build? appdmg can be or cannot be required, that's it.

[2015-12-17 14:43] stefanjudis commented on #95
Can you try to install appdmg on a windows build and check if it's succeeding?

This was my latest state. maybe it's not valid anymore.

[2015-12-17 14:47] havenchyk commented on #95
Sure, I'll check. I just haven't found on my linux machine appdmg in the node_modules and it's was very strange :)

[2015-12-17 14:51] ntrpy commented on #95
This is my log output when trying to install it under Windows 7:

[code]

[2015-12-17 14:52] stefanjudis commented on #95
Thanks @ntrpy.

@havenchyk I'd say the same happens on your linux machine. ;)

[2015-12-17 14:52] #95 closed

[2015-12-17 14:52] havenchyk commented on #95
Yep, same here. Thanks!

[2015-12-18 13:06] tborychowski commented on #75
+1

[2015-12-18 13:09] tborychowski opened #96 "confusing readme"
the example `scripts` part of the `package.json` is a bit confusing:
[code]
it says `pack` to run `electron-builder` and `build` to use `electron-packager`.
Shouldn't this be reversed?

[2015-12-18 13:33] tborychowski opened #97 "Invalid platform"
I'm trying to build osx app on ubuntu and I'm getting an error:
[code]
My `packager.json` is exactly the same as in your readme example.

[2015-12-20 21:03] havenchyk commented on #97
The error message isn't very helpful, but it's from `node-appdmg` and it mean that there is no way to build `dmg` on non-osx.

[2015-12-20 21:05] havenchyk commented on #96
Probably, yes. Electron-builder creates installers and electron-packager makes packages. Could you please make PR with a fix?

[2015-12-20 21:06] havenchyk commented on #97
Look at https://github.com/LinusU/node-appdmg/issues/14 for details.

[2015-12-21 13:03] stefanjudis commented on #96
Fixed with https://github.com/loopline-systems/electron-builder/pull/98.

[2015-12-21 13:03] #96 closed

[2015-12-21 13:04] tborychowski commented on #96
Here you are: https://github.com/loopline-systems/electron-builder/pull/98
I also updated `packager.json` to `builder.json` to be aligned with the naming convention, but this might be a bit controversial and it seems that the former name might have been used elsewhere too.
If you'd want me to revert the name of this file (in another PR), let me know!
Thanks :-)

[2015-12-21 13:04] stefanjudis commented on #96
All good with this one. ;)

[2015-12-21 17:18] stefanjudis commented on #92
@havenchyk what the state here?

Can you please provide your configs and commands?

[2015-12-21 17:24] stefanjudis commented on #97
I think I'll close this one for now as there is no way to fix it here. :(

Feel free to reopen later on. :)

[2015-12-21 17:24] #97 closed

[2015-12-21 17:25] stefanjudis commented on #94
@havenchyk Any chance to get a PR for that?

[2015-12-21 17:35] stefanjudis opened #99 "add Squirrel for creating windows installer"

[2015-12-21 17:47] #40 closed

[2015-12-21 19:23] havenchyk commented on #94
@stefanjudis pr is ready by @mkaz

[2015-12-21 19:28] havenchyk commented on #97
@stefanjudis is there this info in the readme?

[2015-12-21 19:43] havenchyk commented on #92
@stefanjudis config is the same like you're using in the readme:

`electron-builder \"dist/osx/Loopline Systems.app\" --platform=osx --out=\"dist/osx\" --config=builder.json"`

But, I pass this config not via cli.js, but directly to the builder.build, so after `_windowsify` on appPath, the path is broken.

I can provide PR for it if you would like.

[2015-12-21 20:35] havenchyk commented on #99
@stefanjudis could you please prepare a roadmap for it? I'd like to help

[2015-12-21 20:46] havenchyk opened #101 "Split the readme"
The readme file is already huge, I'd suggest to keep only reasonable info in the readme and split other parts with examples into the small md files. What do you think, @stefanjudis ?

[2015-12-21 21:41] stefanjudis commented on #101
Love that! Great idea! :+1:
Am 21.12.2015 9:47 nachm. schrieb "Uladzimir Havenchyk" <
notifications@github.com>:

[2015-12-21 22:46] baikon opened #102 "Error: Could not load config file"
I have a builder.json and set --config=builder.json but get "Error: Could not load config file" when running electron-builder. Anyone else have this issue?

using electron-builder 2.5.0
error is thrown at:
node_modules/electron-builder/index.js:63:26
node_modules/electron-builder/cli.js:36:9

[2015-12-22 07:43] havenchyk commented on #102
@baikon could you please try to use absolute path and not relative?

Also it would be grateful if you could provide an example of your full config.

[2015-12-22 08:22] #94 closed

[2015-12-22 08:25] stefanjudis commented on #102
Relative paths should work though. :)

@baikon https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md :)

[2015-12-22 08:34] stefanjudis commented on #102
`electron-builder \"/Users/stefan/share/win/Blocky-win32-ia32\" --platform=win --out=\"/Users/stefan/share/win\" --config=packager.json"` runs fine here.

[2015-12-22 08:38] stefanjudis commented on #92
I don't get that - you're requiring a file that is not public?

[2015-12-22 08:41] stefanjudis opened #103 "Add tests"
Test coverage should be much higher... :(

- [x] test cli.js
- [x] test main index
- [x] test osx builder
- [ ] test windows builder
- [ ] set up code coverage

[2015-12-22 08:42] stefanjudis opened #104 "Make `config.json` optional and read `package.json`"
A `builder` property that's automatically read from `package.json` would be cool!

[2015-12-22 08:44] stefanjudis commented on #99
@havenchyk For me this looks like a major rewrite and I'd like to tackle a few things first.

- [ ] adding tests https://github.com/loopline-systems/electron-builder/issues/103
- [ ] make `config.json` optional and read `package.json` too https://github.com/loopline-systems/electron-builder/issues/104
- [ ] splitting the readme's as it's becoming more complex https://github.com/loopline-systems/el

[2015-12-22 08:55] havenchyk commented on #92
@stefanjudis I'm using electron-builder in the grunt-electron-builder-wrapper. What I do - is

[code]

And options have `appPath`. You've fixed similar issue about a week ago, but only in the cli.js

[2015-12-22 09:07] stefanjudis commented on #92
Mmmmh... I see... Sorry - forgot about the grunt counterpart. And forgot that `index.js` is also exposed ( the project is lacking documentation for that too ).

but there shouldn't be the need to fix it in several places - the installers itself ( `osx` & `win` ) should get the correct paths provided?

`appPath` should get an absolute path when it's hitting these files.
Or what do you think?

[2015-12-22 09:13] baikon commented on #102
Ah, sure thing:
node version: v0.12.7
npm version: 3.33.10

i am using the example config.json from the readme

i just tried using absolute urls and running:
[code]

log:
[code]

[2015-12-22 09:17] stefanjudis commented on #102
And the file is definitely there - relatively to the directory you're firing `electron-builder`?

Can you log the path here and make sure it's not a mistake on your side?

`(/Users/baikon/dist/public/node_modules/electron-builder/index.js:66:26)`

[2015-12-22 09:19] havenchyk commented on #92
I think, that this check should be made inside the `osx & win` for now, look at https://github.com/loopline-systems/electron-builder/blob/master/lib/win.js#L33 if you're on windows, it's ok, but if you're on mac or linux, it's not needed to `_windowsify` the path.

Also I think that user of the module should be able to pass relative path as well. So we need to do additional check for win and mac:

[2015-12-22 09:29] stefanjudis commented on #92
I needed it in first place and I am on a mac - so I'm not sure about that.

Totally agree on that one. But that doesn't mean we have to treat it in `win.js` or `osx.js`. These two files should only accept absolute paths and do there thing with it. We're also avoiding code duplication for path handling.

So about the points:

This can be done by simply using `path.resolve` - there is no additional

[2015-12-22 09:30] baikon commented on #102
ok, i found that it's throwing a syntax error in the sample config, it doesn't like the "// optional" comments for some reason

[2015-12-22 09:31] havenchyk commented on #92
I'm can check only on windows and linux. I'm mostly working on linux, so it was an issue for me.

[2015-12-22 09:33] stefanjudis commented on #102
That's not valid JSON... We should remove these maybe. ;)

Can you maybe file an issue giving a short version of what you did and requesting that the error message was misleading? :)  A PR would also be great of course. :)

[2015-12-22 09:33] #102 closed

[2015-12-22 09:35] stefanjudis commented on #92
Well then PR it - and I'll check it. :)

Well not really - because it will go into wine and NSIS and these want windows paths. :)

[2015-12-22 09:36] baikon commented on #102
sure thing, thanks for your attention and responses today - much appreciated.

[2015-12-22 10:05] #92 closed

[2015-12-22 12:29] havenchyk commented on #27
Let's go like it's done right now and close the issue. What do you think, @stefanjudis ?

[2015-12-22 12:32] havenchyk commented on #10
Is there any unresolved issues here?

@sindresorhus thanks for your feedback!

[2015-12-22 12:34] stefanjudis commented on #10
We've got issues for these... so let's close here. :)

[2015-12-22 12:34] #10 closed

[2015-12-22 12:45] havenchyk commented on #103
@stefanjudis let's define the parts of code that should be tested first of all. On the other hand, let's use istanbul for code coverage.

[2015-12-22 12:46] stefanjudis commented on #103
Well all of it.

I'm using coveralls usually which works fine and doesn't take me much set up time.

[2015-12-22 12:47] havenchyk commented on #103
In this case let's use coveralls.

[2015-12-22 12:47] stefanjudis commented on #103
:bowtie:

[2015-12-22 13:04] havenchyk opened #107 "Confusing readme"
Are you sure about it? I'm using on windows and linux and everything works fine. Is it just an old information?

[2015-12-22 13:51] stefanjudis commented on #107
Outdated... Should be removed as people use it now on linux and windows.

[2015-12-24 13:28] havenchyk commented on #63
@stefanjudis maybe add tag "help wanted" or something similar for it?

[2015-12-24 13:32] stefanjudis commented on #63
Please feel always free to solve any issue... No need for requesting labels ( it just makes the conversation longer ). :bowtie:

[2015-12-24 13:33] stefanjudis commented on #63
I could basically add "help wanted" to every issue. ;)

[2016-01-08 08:33] mweibel opened #110 "package.json: scripts - infinite loop?"
I was reading through the readme and I think there's some stuff off with the scripts in the "How we use it" section.

[code]

- `build:osx` runs `build:osx` again?
- `pack` runs `build:*`, shouldn't this run both packs?
- same for build, build runs pack?

I'll be happy to provide a PR if my assumptions are correct that this is wrong.
I'd change it to that:

[code]

Also should `pack` run `build` f

[2016-01-08 20:19] stefanjudis commented on #110
You're absolutely right!!!

`Clean` -> `Pack` -> `Build`.

Thanks for pointing that out. :) A PR would be awesome.

[2016-01-08 20:20] avoidwork opened #111 "How do you use the example NSI template with a fresh build?"
Hi,

Forgive my ignorance on this subject, as I rarely work with makensis; how do you use the supplied template? When I run it, I get the following:

[code]

Which is understandable because I'm not passing the publisher as defined on line 3: ```!define APP_PUBLISHER "<%= publisher %>"```; what's the correct way to pass that?

[2016-01-08 20:23] stefanjudis commented on #111
@avoidwork

Is `publisher` set in your config file?

[2016-01-08 20:24] avoidwork commented on #111
Yes, this is the config

[code]

[2016-01-08 20:25] stefanjudis commented on #111
Can you provide the needed information as pointed out here:

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

and I'll have a look over the weekend.

[2016-01-08 20:28] avoidwork commented on #111
Sure, thanks!

#### package.json
[code]

#### config.json
[code]

#### terminal output
[code]

node: v0.12.7
npm: 2.11.3
os: OS X 10.11.2, with brew + makensis + wine

[2016-01-08 21:31] stefanjudis commented on #111
Mmh - looks like a readme typo thing. Can you check if #110 helps you?

[2016-01-08 22:00] avoidwork commented on #111
That's sorted out, it builds osx fine; I noticed it yesterday too ;)

[2016-01-09 11:30] #110 closed

[2016-01-09 11:30] stefanjudis commented on #110
@mweibel had a bit of time. Thanks for pointing it out. :)

[2016-01-09 12:11] stefanjudis commented on #111
Alright. Got it...

Thing is - the publisher option was documented in master ( it wasn't on `npm` ) and not released yet.

Just released new minor version `v2.6.0` which includes the `publisher` variable used in your custom nsi script. :)

I've got an up and running build included here: https://github.com/stefanjudis/blocky/blob/master/package.json maybe this helps also in the future.

Will includ

[2016-01-09 12:11] #111 closed

[2016-01-09 13:04] avoidwork commented on #111
Thanks! I'll give it a try when I have some time this weekend.

[2016-01-09 14:05] #43 closed

[2016-01-10 12:13] mweibel commented on #110
awesome, thanks @stefanjudis!

[2016-01-10 20:07] stefanjudis commented on #103
Only tests for windows builder are missing. :)

[2016-01-10 20:38] #104 closed

[2016-01-11 14:44] avoidwork commented on #111
Hi,

It worked flawlessly the first try! Thanks!

[2016-01-11 14:48] stefanjudis commented on #111
:tada: :tada: :tada:

[2016-01-13 09:53] truenoda opened #114 "Cannot load the config.file"
I am really confused about the three .json file,I tried to use the command
electron-builder app --platform=win --out=dist/win --config=config.json
but still throw errors,absolute path didn't work.
And I really want to know that " npm run pack " and "electron-builder"need which json file.
Both of them throw error...

    throw error;
    ^
Error: Could not load config file
    at Object.Builder.bui

[2016-01-13 14:36] stefanjudis commented on #114
Please provide needed information.

https://github.com/loopline-systems/electron-builder/blob/master/CONTRIBUTING.md

[2016-01-18 16:36] stefanjudis commented on #114
Closing due to inactivitity.

[2016-01-18 16:36] #114 closed

[2016-01-21 17:26] havenchyk commented on #107
@stefanjudis offtop, but just to let you know :) https://github.com/brave/browser-laptop/blob/master/package.json#L83

[2016-01-21 18:49] #107 closed

[2016-01-21 20:16] stefanjudis commented on #107
@havenchyk nice... thanks for letting me know. We only have to switch the windows stuff to squirrel and then we're pretty good i think. :)

[2016-01-21 20:17] havenchyk commented on #107
Yep, support of squirrel will be very useful.

[2016-01-23 16:49] eveningkid opened #119 "EPERM error when compiling on Windows"
Hey everyone,

First, thank you for having created this tool! I guess it helps a bunch of people out there! :smile:

I'm trying to create an executable under __Windows__ but it seems I get an error everytime. Here it is:

[code]

The Node version is __4.2.2__ and npm's __3.5.3__.

Finally, here are the two json configuration files:

`package.json`:
[code]

and `config.json`:
[code]

Thank you for

[2016-01-24 15:40] radibit commented on #119
Hey @eveningkid Thanks for the provided information regarding the problem you experienced.

I tried the exact same set up __nodejs 4.2.2__ and __npm 3.5.3__ on __Windows 7__, but I didn't succeed reproducing the same problem.

However looking at the source code for the nodejs __fs__ module and a research I made it seems that the problem might be related to insufficient user rights for the director

[2016-01-24 16:19] eveningkid commented on #119
Thank you really much for your answer @radibit!

Sorry, I didn't mention that I had tried executing with admin rights already. Same for the icon path checking! Is there any way we could avoid the icon part of the process? Just to see if it only goes this way because of it.

Also, I'm using Windows 10, but I don't think this should be the cause.

Thank you again for helping me!

[2016-01-24 17:07] radibit commented on #119
@eveningkid

`win.icon` is a required property and it's not possible to run the build without it.

Regarding the __Windows 10__ I also believe this shouldn't be the reason, but still it's an important factor. Unfortunately I don't have machine with this OS version in order to try and confirm.

Another option which might be considered is, if it's possible for you, to see if you're getting the same

[2016-01-25 07:28] stefanjudis commented on #119
Hey hey.

I don't see `electron-builder` used in your package.json. can your share the initial command execution.

As it looks like some file permission problem, where do you want to save the installer? Have you tried a different output path?

[2016-01-25 22:34] xseignard commented on #75
Hello,
Here is what I do, inspired from superkit, but maybe with less noise, and less features, but still! And no coffee!

https://gist.github.com/xseignard/fbf9e222fb3db8bb9f48

Hope this helps

[2016-01-25 22:36] stefanjudis commented on #75
@xseignard I'd be more than open for a PR. :)

[2016-01-26 03:53] xseignard commented on #75
See #123

[2016-01-31 14:57] stefanjudis commented on #119
Closed due to inactivity... Feel free to reopen. :)

[2016-01-31 14:57] #119 closed

[2016-01-31 14:59] stefanjudis opened #126 "Read values from package.json for several config options"
As dicussed in #123 it would be cool to be able to drop given config options in the config file and rely on things defined inside of the `package.json` e.g. `version`, `name`, etc...

[2016-02-02 11:42] stefanjudis opened #128 "Finally bring squirrel on board"
https://github.com/electronjs/windows-installer is making progress so we want to get it in to follow the recommended way by electron.

[2016-02-04 22:29] eveningkid commented on #119
Sorry for late reply, and thank you a lot for your answers!

I've been trying out your suggestions and none of them worked for me...

- @radibit: Working with the latest stable versions of both `node` and `npm` unfortunately didn't change a thing;
- @stefanjudis: indeed, the dependency wasn't in my `package.json` but addind it didn't work. Its latest version is pasted right after this list;
- I am

[2016-02-07 15:31] stefanjudis commented on #75
I think we can close this as #123 landed and continue with more specific issues.

Thanks for the work. :)

[2016-02-07 15:31] #75 closed

[2016-02-07 15:58] etiktin commented on #75
Thank you guys. This is awesome!

[2016-02-07 16:40] xseignard commented on #75
Hello @etiktin,

Glad you like it! This is a first version, and feedback will be very welcome ;)

Regards

[2016-02-07 17:42] citrusui opened #129 "Error when building for Linux"
Apparently `electron-builder` thinks my architecture is undefined.

Here's my config:
![screenshot from 2016-02-07 12 40 54](https://cloud.githubusercontent.com/assets/9056756/12873946/2d153086-cd98-11e5-8192-c20c37ac3780.png)

Here's the error:
![screenshot from 2016-02-07 12 35 55](https://cloud.githubusercontent.com/assets/9056756/12873949/3493b22e-cd98-11e5-8076-c302c02f140a.png)

This happens

[2016-02-07 17:46] stefanjudis commented on #129
Your config file doesn't look correct...

https://github.com/loopline-systems/electron-builder#parameters

[2016-02-07 17:47] stefanjudis commented on #129
If you're going with a config file it should like that

[code]

[2016-02-07 17:54] stefanjudis opened #130 "Improve error handling for wrong configuration"
As happened in #129 we should cover an additional check for proper configuration.

This allows us to throw a more meaningful error if something is not correct and not present users with follow up exceptions.

[2016-02-07 21:50] citrusui commented on #129
Okay, cool, I got my app to compile on Linux now.

However, it appears that the executable specified in `config.json` doesn't actually... compile. There's nothing in `/usr/bin`, just `/usr/share/applications/mypackage.desktop` (which links to `/usr/bin/mypackage`)

Screenie:
![screenshot from 2016-02-07 16 44 59](https://cloud.githubusercontent.com/assets/9056756/12875525/a4acbac0-cdba-11e5-8242-5

[2016-02-08 06:46] stefanjudis commented on #129
Hmm... Can you help @xseignard?

[2016-02-08 09:13] xseignard commented on #129
Hello @citrusui

Could you show me your `package.json` and your `electron-builder` config?

I guess your executable has the wrong name compared to the one created by `electron-packager`.
It would be better to be able to derivate it from the `package.json` but for now, you should set it.

Regards

[2016-02-08 13:04] citrusui commented on #129
`electron-builder` config:

[code]

`package.json`:

[code]

[2016-02-08 13:42] xseignard commented on #129
Ok, so the problem is that `electron-packager` produces an executable called after the `<appname>` you provide.

Here it is `Team Hours`, with a space, that mess up the `electron-builder` packaging (it's a bad practice to put a space in a linux executable anyway).

I tried with your repo and did the following changes in `package.json` scripts:
[code]

I left your `config.json` unchanged, and I cou

[2016-02-08 14:36] citrusui commented on #129
Thanks! I'll try this when I get home from school. :+1:

[2016-02-08 20:03] citrusui commented on #129
Whoops, it still doesn't work. Let me demonstrate:

![build linux](https://cloud.githubusercontent.com/assets/9056756/12897367/fc507f40-ce74-11e5-82a2-3fd9ea29d814.gif)

On another note...

Even though `appdmg` is optional (because OS X), it still tries to install itself when I `npm install`.

![screenshot from 2016-02-08 14 37 03](https://cloud.githubusercontent.com/assets/9056756/12896751/b5054e

[2016-02-08 20:44] stefanjudis commented on #129
I don't get that one...

The problem is not that tries to install but rather that it is executing `lib/osx.js`.... Honestly I have no clue how you got there...

And I don't unterstand the gif in combination with the screenshot? the gif doesn't show the error... where is this screenshot then coming from?

[2016-02-08 21:20] xseignard commented on #129
@stefanjudis actually, in `platforms.js` we should only require `osx.js` if we are on a mac, where `appdmg` is compatible.

[2016-02-08 21:32] stefanjudis opened #132 "appdmg still required from not osx systems."
As pointed out int #129

[2016-02-08 21:33] stefanjudis commented on #129
right... You correct... Thanks for pointing that out. :)

I created a ticket for it...
I'll quickly tackle this one then https://github.com/loopline-systems/electron-builder/issues/130 and we'd be able to push out another `patch` version?

[2016-02-08 21:36] stefanjudis commented on #129
@xseignard

Would be better to really only require the things we need, or? So only `win.js` when someone wants to build for windows, only `linux.js` when someone wants to build for linux, ...

[2016-02-08 21:40] xseignard commented on #132
It seems smart

[2016-02-08 22:02] #130 closed

[2016-02-08 22:05] stefanjudis commented on #132
So you're on it? Or should I do it quickly?

[2016-02-08 22:35] citrusui commented on #129
The screenshot is a separate issue; the appdmg dependency.

The GIF demonstrates me compiling a Debian package with `electron-builder` and showing how it still **doesn't work**. There is nothing in `usr/bin`.

[2016-02-08 22:41] xseignard commented on #129
Have you tried to install it? There are some scripts that run after install that will create symlinks.

Do you have installed `fpm`?

[2016-02-09 04:26] citrusui commented on #129
fpm is installed.

I did indeed install it, but it only created a .desktop config in `/usr/share/applications`.

[2016-02-09 05:04] xseignard commented on #129
Did you try to install it?

[2016-02-09 06:15] citrusui commented on #129
Yes, I installed the generated .deb package.

[2016-02-09 12:31] xseignard commented on #129
Hello @citrusui

I'm sorry but I cannot understand the issue. All you say is normal to me. Nothing in `usr/bin` in the deb is normal.

Executables are linked in a postinstall step, thanks to the following script: https://github.com/loopline-systems/electron-builder/blob/master/templates/linux/after-install.tpl

In your gif, the package seems to have the right shape.

Does the deb installation let

[2016-02-09 21:01] #132 closed

[2016-02-09 21:05] stefanjudis commented on #129
@citrusui the appdmg issue should be solved with version `v2.7.2`. :bowtie:

[2016-02-09 21:20] #101 closed

[2016-02-09 21:25] #128 closed

[2016-02-09 21:46] citrusui commented on #129
@stefanjudis awesome.

However, I still can't launch `teamhours` through a terminal. I even thought to rename my app `team-hours` since the generated Debian package calls itself "team-hours"

[2016-02-09 21:52] xseignard commented on #129
@citrusui could you please provide your deb?

[2016-02-09 21:55] citrusui commented on #129
@xseignard here you go
[teamhours-0.0.1-amd64.zip](https://github.com/loopline-systems/electron-builder/files/123844/teamhours-0.0.1-amd64.zip)

[2016-02-09 22:00] xseignard commented on #129
Ok, so the app is not packaged (e.g. not in `opts`)

Could you please provide your package.json?

[2016-02-09 22:01] citrusui commented on #129
package.json:
[code]

[2016-02-09 22:03] stefanjudis commented on #129
@citrusui

[code]

You not pointing at the linux package aren't you?

[2016-02-09 22:04] xseignard commented on #129
@stefanjudis true
@citrusui please double check my comment here: https://github.com/loopline-systems/electron-builder/issues/129#issuecomment-181373760

[2016-02-09 22:18] citrusui commented on #129
I think I now realize why this wasn't working!

You have to run `electron-packager` before `electron-builder` in order to fetch the executable.

However, for whatever reason, my .desktop entry still points to /usr/bin/teamhours (when it should really be pointing to /usr/opt/teamhours/teamhours-linux-x64/teamhours

[2016-02-09 22:21] stefanjudis commented on #129
Can you maybe go over the readme and read it again... I though this was clear... :( Suggestions and/or a PR fixing this missunderstanding would be great.

[2016-02-09 22:23] xseignard commented on #129
@citrusui this is normal as stated here https://github.com/loopline-systems/electron-builder/issues/129#issuecomment-181845526

Please change the following in your `package.json` and everything will be fine:

[code]

to

[code]

[2016-02-09 22:32] citrusui commented on #129
okay! Finally working (for real). There's a minor issue to discuss but I'll open a new issue for that.

[2016-02-09 22:32] #129 closed

[2016-02-09 22:33] citrusui opened #136 "packages on linux don't show icon in desktop entry"
Haven't seen an issue opened on this yet, so here you go.

[2016-02-09 22:35] stefanjudis commented on #129
@citrisui As said it'd be great if you could give hints why things we're not clear. :blush:

[2016-02-09 22:48] stefanjudis opened #137 "Make dependency and flow clearer"
People struggle with the instruction and the flow combination with `electron-packager`.
It should be made clearer.

cc. @citrusui

[2016-02-09 23:22] xseignard commented on #136
Hello @citrusui

It is a known issue I'm planning to tackle quick.

You're one of the first to try the `.deb` packaging and your feedback and patience is valuable, so thanks!

[2016-02-10 00:48] citrusui commented on #137
Alright! I'll start working on it within a couple of hours.

[2016-02-10 13:20] stefanjudis opened #138 "Clarify collaboration between electron-builder and electron-builder-complete"
Taken from here: https://github.com/maxogden/electron-packager/issues/33#issuecomment-182311037

I will have a look later today. :) Thanks. @delevar

[2016-02-10 13:34] #137 closed

[2016-02-10 13:57] develar commented on #138
In general, I don't think that end users really need chain `electron-complete-builder` ->  `electron-builder` -> `electron-packager`.

It is not practical. Someone can blame that tool is bloated, but...

Each, each tool currently do to the same thing — read existing `package.json` (and other convenient places) to infer configuration. `electron-complete-builder` does it better than other tools, but

[2016-02-10 16:46] rishson commented on #138
From a user's point of view, both projects are great but I don't think the electron community needs more options.
I agree with @develar that there should just be 1 package that 'just works' :tm:
`electron-builder` is the better package name and arguable has more traction.
From a personal point of view, could `electron-builder` not become the 1 packager that just works, by adding the extras found i

[2016-02-10 20:53] Joshua-Smith opened #140 "Add option to sign DMG"
It's not a huge deal, but I noticed that while electron-packager has an option --sign= to sign Mac .app folders, there is no parallel option in electron-builder to sign the DMG file. It's obviously no big deal to just run codesign on the DMG in my build script, which I did. But for newbie Mac developers, they are going to be confounded why their DMGs are declared "corrupted" by OS X when they try

[2016-02-10 22:31] chimon2000 commented on #126
+1

[2016-02-11 12:37] stefanjudis commented on #138
Code signing makes total sense.

I'm not sure about these but I have to read a bit on these topics. :) When people want to have that's definitely a GO though. :)

I totally got that... :) So I see the benefit of `electron-builder-complete`. And I also see that the big config file can be troublesome. Abstracting this aways might be a good idea. :)

[2016-02-11 12:55] develar commented on #138
Example: current model (proposed workflow) doesn't allow you to get rid of "OMG, why I should specify it" `executable` parameter in Linux conf. Because `electron-builder` is just a CLI tool and doesn't know anything about `electron-packager`. User must at first execute `pack` and then `build` (I use script task names from https://www.npmjs.com/package/electron-builder#how-we-use-it-so-far)

But `e

[2016-02-11 13:24] develar commented on #140
As far I know DMG should be not signed. It is not required. See http://stackoverflow.com/a/23884014

[2016-02-11 13:58] Joshua-Smith commented on #140
That SO answer is dead wrong. Everything changed in Lion.

If you don’t codesign a DMG file, and then you distribute it over the internet, Mac OS X Lion or later will tell you the DMG is “corrupted” as soon as you try to access the app in the file (dragging to Applications or opening directly).

http://stackoverflow.com/questions/9743116/gatekeeper-signing-for-osx-dmgs-outside-of-osx-xcode-mac-app

[2016-02-11 14:02] develar commented on #140
@Joshua-Smith Strange. Are you sure? My app signed, but DMG not. Try – https://github.com/develar/onshape-desktop-shell/releases I don't think that DMG should be signed, maybe your app is not signed correctly?

Also, my company distributes non-electron app (https://www.jetbrains.com/idea/#chooseYourEdition) and DMG is also not signed. No problem.

[2016-02-11 14:25] Joshua-Smith commented on #140
I’m sure I get the error if I don’t sign the DMG, and I don’t get the error if I do sign the DMG.

The DMG you pointed me to doesn’t generate this error, which is interesting. No idea why yours doesn’t need the signature and mine does.

I’m assuming my app is signed correctly because I’m using electron-packager to sign it, and when I check the signature it says it’s okay. I’ll try signing it mysel

[2016-02-11 14:26] rishson commented on #140
I codesign my `.app` but not the `.dmg` and its been working fine for me for over a year.
Can you post the output of `codesign -vvvv` or `spctl`?

[2016-02-11 14:32] develar commented on #140
DMG is a disk image file, nothing more. DMG Verification is not related to code signing. It seems, your DMG is corrupted — check it using Disk Utility (Images -> Verify...).

[2016-02-11 14:35] develar commented on #140
@Joshua-Smith Please check your security settings: open `System Preferences -> Security & Privacy -> Allow apps downloaded from` Ensure that here `Mac App Store and identified developers` checked.

[2016-02-11 14:36] Joshua-Smith commented on #140
$ codesign -vvvv *.app
--prepared:/private/tmp/build/myapp-darwin-x64/myapp.app/Contents/Frameworks/myapp Helper EH.app
--validated:/private/tmp/build/myapp-darwin-x64/myapp.app/Contents/Frameworks/myapp Helper EH.app
--prepared:/private/tmp/build/myapp-darwin-x64/myapp.app/Contents/Frameworks/myapp Helper.app
--validated:/private/tmp/build/myapp-darwin-x64/myapp.app/Contents/Frameworks/myapp Help

[2016-02-11 14:37] Joshua-Smith commented on #140
Confirmed. That’s what it is set to.

[2016-02-11 14:37] develar commented on #140
@Joshua-Smith Please check your security settings: open `System Preferences -> Security & Privacy -> Allow apps downloaded from` Ensure that here `Mac App Store and identified developers` checked.

Also, try to open your app directly (from dist folder, as result of `electron-packager` build).

[2016-02-11 14:45] Joshua-Smith commented on #140
Aha!

So if I have electron-packager sign my .app, then I need to sign the DMG (which I’m guessing just dives into the DMG and finds the app and re-signs it).

But if I sign it myself, I don’t need to sign the DMG.

So I guess that the real problem is in relying on electron-packager to sign the .app.

-Joshua

[2016-02-11 14:50] rishson commented on #140
Just to confirm, your build is something like:
[code]
in that order?

As long as you dont do anything to the .app contents inbtween signing and running `appdmg` then all should be well.

[2016-02-11 14:57] Joshua-Smith commented on #140
Correct. That’s exactly what I do.

When I sign myself by calling codesign, it works right. When I sign by foolishly passing the —sign argument to electron-packager, it doesn’t.

-Joshua

[2016-02-11 15:05] develar commented on #140
I don't want to promote here my tool (in any case it will be merged soon), but will be code signed correctly if you will use https://github.com/develar/electron-complete-builder ?

[2016-02-11 15:41] rishson commented on #140
I've had codesign fail in the past for either:
1) `--deep` option failed due to xCode issues (so had to sign each app separately)
2) sign then zip then unzip would fail with really long file paths

@develar doesn't `electron-complete-builder` use `electron-packager` underneath though?

@develar the more I look at `electron-complete-builder` the more I really like what you've done :smile:

[2016-02-11 15:56] develar commented on #140
Yes, but not for code signing (although, the command is the same on development machine).

On CI server `electron-complete-builder` pass keychain name explicitly to avoid any issues.
`electron-complete-builder` build app directly to out dir, without temp dir.
And there is no question "`As long as you dont do anything to the .app contents inbtween signing and running appdmg then all should be well`

[2016-02-11 20:14] stefanjudis commented on #138
@develar

Yes yes I see. Okay - you're project is in better shape and has more benefit currently.

Honestly I feel like the journey is over here.

I still would have appreciated discussions and collaboration here in first place, but now it doesn't make much sense to double the work, just because this project was there first.

So what do you think?  We can back link your project here and you can pr

[2016-02-11 20:22] stefanjudis commented on #138
Any opinions from the collaborators? :)

cc. @demetris-manikas @xseignard @mkaz @vQuagliaro @radibit

[2016-02-12 06:55] develar commented on #138
I don't think that it is an option. I am totally agree with your [position](https://github.com/maxogden/electron-packager/issues/33#issuecomment-182324033).

My proposal: copy `electron-complete-builder` over `electron-builder`.

* `out`: it is a compiler output, not under version control. Maybe renamed (doesn't matter).
* `src`: copy as-is. It is a TS sources. Maybe renamed to reflect content. Co

[2016-02-12 08:19] demetris-manikas commented on #138
Hi to all.
My opinion is that the two projects should somehow merge.
Joined forces will bring better results and will minify confusion to potential users.

[2016-02-12 08:57] stefanjudis commented on #138
@develar

Okay sounds good. So I'd say we open this project by adding collaborators. I'd go by adding @develar and @xseignard as they were the last active contributors. Whoever wants to join - let me know. :)

I haven't had a deep dive into `electron-builder-complete` yet, but I imagine that it's quite a bit of work to merge. But yeah let's do it. :)

I think we can bring further discussions into

[2016-02-12 09:08] develar commented on #138
It is not required as far I understand —in any case any my change should be pushed using pull-request. Only if you will be lazy to push and I will do it after your LGTM approval :)

Only if you say  — "No, no typescript here — rewrite to ES6". If TS is ok, it will be easy. To be clear — it is much more comfortable to write in TS in the IDE than in ES6 (WebStorm/IntelliJ IDEA).

I can prepare pull

[2016-02-12 09:16] stefanjudis commented on #138
Jup - I know. But let's open this completely then... Let's create "our" baby here. :) Meaning everyone who wants to can have a voice and proper rights.

Haven't used typescript so far.  but yeah why not. ;)

Sounds great!

[2016-02-12 12:12] xseignard commented on #138
IMHO, one tool is a good solution.

I'm not sure `.ts` is a good thing, I may have time to contribute to OSS project, but not to learn yet another language and it is the feeling of many others. `.js` is the lowest common denominator of people who will land here.

This is the only point with I disagree in this thread, but my opinion is not really relevant, since I only did one PR.

Regards!

[2016-02-12 12:14] stefanjudis commented on #138
@xseignard But you (!) did the first linux steps. :bowtie: So if you plan to stay on board ( no pressure though ) your opinion is really valuable. :)

[2016-02-12 12:20] develar commented on #138
TS equals to ES6 + Flow (type syntax). Any JS code is a TS code (except ES7 and other non-standard syntax). And later it can be addressed to just use ES6 (but currently it is much more complex and not easy compare to TS (maintenance cost)).

[2016-02-12 14:28] Aluxian commented on #138
@xseignard Sorry, I haven't been following. If you want my opinion about the merge, I think it should be done since it's just a one-time effort. This project is an essential tool for the development of Electron apps, so make it hell awesome!

About the language, I'd say to stick to TS if (and only if) TS supports normal JS, too (and as @develar said, it does). This is so that users who are not fam

[2016-02-12 17:23] cheptsov opened #143 "Can't build OS X bundle on linux"
[code]

[2016-02-12 17:26] develar commented on #143
Please see https://github.com/LinusU/node-appdmg/issues/14 Only OS X is supported.

[2016-02-12 19:48] mark-rushakoff commented on #138
I'm new to developing with Electron, and I'm slightly overwhelmed by all the tooling available.

If I followed the discussions correctly, the plan is for electron-builder (this repo) to supersede electron-builder-complete?

If I want to build native executables on a brand new Electron project today, should I use electron-builder?

[2016-02-13 07:53] develar commented on #136
Docs: https://developer.gnome.org/integration-guide/stable/desktop-files.html.en

[2016-02-13 08:18] develar commented on #138
@Aluxian Your pack script is a nice example why `electron-complete-builder` was born — you, as an application developer, should be able just run `build` instead of writing own build script to marry various tools. You want to create excellent app, not wasting time to unrelated tasks.

@mark-rushakoff `electron-complete-builder` will be merged and current API will be preserved. I suggest you to use

[2016-02-13 14:01] develar opened #145 "Remove example-app from sources"
Size of `example-app` is 315MB. 315MB binary files. And git doesn't support binaries properly — once it was committed, [no way to remove](https://robinwinslow.uk/2013/06/11/dont-ever-commit-binary-files-to-git/).

I don't see any reason to store dist output under the version control.

Even, even if it is really needed, [LFS](https://git-lfs.github.com) or separate repo could be used.

PS. Travis d

[2016-02-13 17:58] develar commented on #138
PR to merge sources: https://github.com/loopline-systems/electron-builder/pull/146

[2016-02-13 21:30] stefanjudis commented on #145
These were stored to check easily with `npm run test-build` is the commands succeed.

But I see the point.

[2016-02-14 12:19] AxoSal opened #147 "Clarify that win.title must have the same name as installed app .exe"
As I understand installed app's shortcut will search after win.title.exe file in the installed directory and run that .exe file. But I didn't find any clarification on that in the documentation.

[2016-02-14 17:03] develar commented on #136
@xseignard  Will be fixed tomorrow in the electron-complete-builder (and our projects will be merged next week —https://github.com/loopline-systems/electron-builder/issues/138#issuecomment-183715299).

48x48 PNG icon is required, but we will automatically extract it from OS X icns file (if not explicitly provided).

[2016-02-14 19:22] stefanjudis commented on #143
@develar is right... Closing here then. :)

[2016-02-14 19:22] #143 closed

[2016-02-15 06:16] develar commented on #143
It is possible to fix build DMG on Linux, but for what? You cannot sign app on Linux, so... implementing  DMG support on Linux doesn't make any sense.

[2016-02-15 09:34] havenchyk commented on #140
@develar will it be merged into electron-builder? It's not clear for me.

[2016-02-15 09:36] develar commented on #140
@havenchyk Yes. See https://github.com/loopline-systems/electron-builder/issues/138

[2016-02-15 10:46] havenchyk commented on #140
@develar it would be nice to add this info to the readme of electron-complete-builder as well.

[2016-02-15 10:49] develar commented on #140
@havenchyk Anything can happen. Until PR is not accepted and process is not starting, it is too early. Let's stop off topic here ;)

[2016-02-17 12:20] havenchyk commented on #126
@stefanjudis it's already in the electron-complete-builder, if I understand correctly.

[2016-02-17 12:21] develar commented on #126
@havenchyk Merging in process. I am preparing docs and other required stuff (e.g. nsis target).

Once docs will be merged, I will revisit issues and close obsolete.

[2016-02-17 13:23] havenchyk commented on #138
@stefanjudis @develar guys, do you keep in mind the ability to use `electron-winstaller` as well under the hood of merged `electron-builder`? I'd like to use `electron-winstaller` and do things without the NSIS.

[2016-02-17 13:27] develar commented on #138
@havenchyk Answer in code: https://github.com/develar/electron-builder/commit/d977d6ab4cbb696ff43a1f624cc680d2382b94ee (pull request is not yet created, nsis is not yet configured properly on AppVeyor).
 Discussion: https://github.com/loopline-systems/electron-builder/pull/146#issuecomment-184277835
In short: squirrel will be by default, nsis only if `--target=nsis` is specified.

[2016-02-17 17:59] aaaaahaaaaa opened #154 "Overwrite option"
It would be nice to have an `overwrite` option so that the `"Target already exists"` error is not fired.

[2016-02-17 18:01] develar commented on #154
It is already fixed, announce and docs will be soon (several days).

[2016-02-17 18:02] aaaaahaaaaa commented on #154
Cool. Thanks.

[2016-02-17 18:03] #154 closed

[2016-02-17 18:12] develar commented on #154
You can use [electron-complete-builder](https://github.com/develar/electron-complete-builder) (new API is equal to it) as a quick solution (and to report early feedback ;))

[2016-02-17 21:33] citrusui commented on #143
But you need a $99 certificate from Apple, right? Those are expensive, and besides, I could compile a .dmg without codesign fine on OS X.

[2016-02-17 22:56] adam-lynch opened #156 "Feature request: programmatic API"
That would be nice :grinning:

[2016-02-18 00:38] adam-lynch opened #157 "path.win32 doesn't exist when running on Windows for Windows"
[code]

It works if I change this in `_windowsify` in `win.js`:

[code]

[2016-02-18 01:44] adam-lynch opened #158 "Building for linux fails because of missing child_process.execSync"
First I tried this on Windows and it failed for that reason. The docs say you may need fpm for Mac / Linux but doesn't mention Windows, is it supported at all for creating a Linux installer?

I then tried on my Mac. I got the following

[code]

Installing fpm didn't help. Installing gnutar didn't help.

[2016-02-18 01:46] adam-lynch opened #159 "Linux: specifying the arch in config.json is awkward for multi-arch"
Having to specify the arch in the config (or that it's limited to one arch) means if you want to build for both archs, then you need to build for one, edit the json, and build for the other.

[2016-02-18 06:31] develar commented on #159
It is already fixed, announce and docs will be soon (several days). You can use [electron-complete-builder](https://github.com/develar/electron-complete-builder) (new API is equal to it) as a quick solution (and to report early feedback ;))

Also, please see https://github.com/develar/electron-complete-builder/issues/3#issuecomment-185061083.

[2016-02-18 06:31] #159 closed

[2016-02-18 06:33] develar commented on #158
Please see https://github.com/loopline-systems/electron-builder/issues/159#issuecomment-185561841

[2016-02-18 06:33] #158 closed

[2016-02-18 06:39] develar commented on #143
@citrusui Well, I am not yet sure (will be confirmed next week), but you can use StartSSL — $60. Also StartSSL certificate is suitable to codesign Windows app (so, you will not pay twice).

Could you please describe how do you use and distribute your app without certificate — by default OS X blocks such apps (well, you can run anyway, but it requires additional actions/configuration).

Also, witho

[2016-02-18 06:45] develar commented on #143
To be clear — it seems, it is possible to build DMG on Linux, but due to obvious reasons (no codesign) it is a low-priority task.

[2016-02-18 12:01] adam-lynch commented on #158
@develar can you confirm which platforms can build for Linux?

[2016-02-18 12:06] develar commented on #158
@adam-lynch On OS X without any problems. Windows — please see https://github.com/jordansissel/fpm/issues/505 You can build on Windows, but as always on Windows, it is not easy — you need to install cygwin... In the near future (several weeks) it will be documented and supported, but currently I cannot give you detailed instruction.

[2016-02-18 12:34] adam-lynch commented on #158
@develar that's good enough thanks

[2016-02-18 21:04] adam-lynch commented on #159
@develar

Several days? Great!! Because I was talking to @stefanjudis about the fact I'm including this in an Electron book and changing the API would be an issue. Is there a branch with the new API and docs?

[2016-02-18 22:21] zGrav opened #160 "Impossible to set ProductName/ProductVersion etc on NSIS windows installer?"
Hello,

Is there a workaround for this? I can't seem to force it, I tried forking the repo but it errors on npm install...

Using a "modified" version of your template installer (just adding the VIVersionKeys) apparently did nothing as well, http://nsis.sourceforge.net/Reference/VIAddVersionKey , Properties -> Details still shows up blank.

Regards.

[2016-02-18 22:35] stefanjudis commented on #157
What node version are you on?

[2016-02-18 22:36] adam-lynch commented on #157
@stefanjudis v0.10.20

[2016-02-18 23:04] stefanjudis commented on #157
That's too old. `normalize` is available in newer versions... Official support is node 4+ when I remember correctly. ( am on the phone ).

[2016-02-19 01:05] hacksalot opened #161 "electron-builder-wrapper will no longer work with electron-builder > 2.6"
Per havenchyk/grunt-electron-builder-wrapper#6, electron-builder-wrapper is broken in recent versions. README says to report issues here. Thanks~

[2016-02-19 06:32] develar commented on #157
@stefanjudis To prevent such issues now we explicitly require NodeJS v4 —. https://github.com/loopline-systems/electron-builder/blob/master/package.json#L21

[2016-02-19 06:32] #157 closed

[2016-02-19 07:15] havenchyk commented on #161
Will be handled in the havenchyk/grunt-electron-builder-wrapper#6 can be closed. Thanks for reporting!

[2016-02-19 12:48] #161 closed

[2016-02-19 16:29] develar commented on #159
@adam-lynch Branch: https://github.com/develar/electron-builder/tree/docs PR: https://github.com/loopline-systems/electron-builder/pull/162

[2016-02-19 18:32] havenchyk commented on #89
Probably can be closed. @stefanjudis

[2016-02-19 18:32] #89 closed

[2016-02-20 16:03] adam-lynch commented on #159
Thanks @develar. I'm having trouble installing it from GitHub. It failed on my Windows machine. Failed on my Mac and now even fails on my Mac with `sudo` although it did get further I think (I never usually have to use `sudo`);

[code]

[2016-02-20 16:48] adam-lynch commented on #159
Ok sorted it nevermind

[2016-02-20 17:03] develar commented on #159
@adam-lynch You cannot install it from github because compilation is required. If you want to use latest API — use [electron-complete-builder](https://www.npmjs.com/package/electron-complete-builder) instead of `electron-builder`.

[You can still use npm package electron-complete-builder because for now new versions is published often (release cycle is shorter).](https://github.com/develar/electro

[2016-02-20 17:11] #136 closed

[2016-02-20 17:15] #99 closed

[2016-02-20 17:24] develar commented on #39
Please use two-package.json layout to avoid electro-build usage. In 2.8 we support native dependencies compilation, see not yet commited [docs](https://github.com/develar/electron-builder). More detailed docs will be soon.

[2016-02-20 17:24] #39 closed

[2016-02-20 17:28] #126 closed

[2016-02-20 17:30] adam-lynch commented on #159
@develar I got it working with the branch. I assumed the new API was electron-complete-builder but improved but it doesn't look like it. Thanks.

I hope you don't mind me asking you some questions. I really need to make sure I document this correctly in the book :smile:. I've found a few things which are incorrect *I think*.

### build/builder property

When using CLI, it looks for a `builder` pro

[2016-02-20 17:41] develar commented on #159
Please don't use deprecated CLI. Only `build`. See https://github.com/develar/electron-builder/tree/docs#cli-usage And please use npm scripts — see https://github.com/develar/electron-builder/tree/docs#in-short "Add scripts to the development package.json".

No. It is old deprecated  programmatic API. See https://github.com/develar/electron-builder/tree/docs#programmatic-usage File `node_modules/e

[2016-02-20 17:44] develar commented on #159
Are you sure? Package doesn't work if you install it from github (because not compiled). Please consider to use `electron-complete-builder` — it is tested and published (0.6.6).

[2016-02-20 17:46] develar commented on #34
Code signing implemented for Squirrel.windows installer. Fixed in 2.8.

[2016-02-20 17:46] #34 closed

[2016-02-20 17:53] adam-lynch commented on #159
Ooooh it's `node_modules/.bin/build`... I gave up after trying just `build` and then went back to using `electron-builder`.

I generated the electron-builder.d.ts (although I did get errors) but to be honest I don't find it very clear. I'm never used TypeScript. So I digged into the code and saw the old API. Woops. This gist does look different to what I saw though. So looking at it now, I see htt

[2016-02-20 18:02] adam-lynch commented on #159
Or... I can't use the programmatic API at all? After installing `electron-complete-builder`, it still has the old API in `index.js`. So it seems I have to use `scripts` and `build`. Ok trying that now :)

[2016-02-20 18:03] develar commented on #159
Got it. Docs will be improved. You can see https://github.com/loopline-systems/electron-builder/blob/master/src/builder.ts#L31 or in tests (ES6) https://github.com/loopline-systems/electron-builder/blob/master/test/BuildTest.js#L89

Not exactly, I hope examples above are clear.

No, but in this case you should explicitly pass flags like `dist` or `publish`.

[2016-02-20 18:05] develar commented on #159
You can, but you need to require file explicitly — `require('electron-complete-builder/out/packager')` (and then use `Packager` to create new packager).

[2016-02-20 18:07] adam-lynch commented on #159
@develar Requiring that explicitly throws this:

[code]

[2016-02-20 18:08] develar commented on #159
@adam-lynch What nodejs version do you use?

[2016-02-20 18:09] adam-lynch commented on #159
@develar 0.10.24 on the Mac I'm on right now.

[2016-02-20 18:10] develar commented on #159
@adam-lynch 0.10.24 is very, very old. NodeJS v4+ is required.

[2016-02-20 18:28] adam-lynch commented on #159
@develar Ok I've linked 4.0.0 with nvm. Now I see:

[code]

[2016-02-20 18:32] adam-lynch commented on #159
Going to try node 5.6.0

[2016-02-20 18:38] develar commented on #159
@adam-lynch I am sorry. 0.6.7 published.

[2016-02-20 18:41] adam-lynch commented on #159
@develar I've installed 0.6.7 (verified in `electron-complete-builder/package.json`) and I've the same error. (Node 4.0.0 still)

[2016-02-20 18:47] develar commented on #159
@adam-lynch I have published fixed 0.6.7 version. (previous version was accidentally not preprocessed by babel).

[2016-02-20 18:50] develar commented on #159
@adam-lynch Ok, try 0.6.8. Or run your script with `--harmony_rest_parameters --harmony_default_parameters --harmony_array_includes` (but I think 0.6.8 should help).

[2016-02-20 18:52] adam-lynch commented on #159
@develar 0.6.8 fixes that error :+1: thanks

[2016-02-20 19:00] adam-lynch commented on #159
Ok I've gotten it packaging the executable by using that, but I guess then if I want an installer, I'll need to require something else and manually pass the executable path onto this other required module. But you've clearly thought this all through, so maybe I should just go with the `scripts` way of doing it for the book. Makes sense.

[2016-02-20 19:08] adam-lynch commented on #159
Hmm no, using `scripts` and `build` results in an executable only, no installer.

[2016-02-20 19:14] adam-lynch commented on #159
Ok got it with `build --dist --publish`. Sorry now for annoying you @develar :smile:

[2016-02-21 05:59] develar commented on #159
No. Just pass `dist: true`.  See [test code](https://github.com/loopline-systems/electron-builder/blob/master/test/BuildTest.js#L84).

Script name is important — should be named `dist`. In the [example project](https://github.com/develar/onshape-desktop-shell/blob/master/package.json#L11) no arguments passed to `build`, but result is different. pack: just pack, dist: pack + pack in distributable f

[2016-02-21 08:41] #12 closed

[2016-02-21 08:50] develar commented on #147
New API 2.8 produces Squirrel.windows installer in a more user-friendly way.

[2016-02-21 08:50] #147 closed

[2016-02-21 15:49] adam-lynch commented on #159
@develar thanks! I coincidentally used `dist`. Good to know though!

[2016-02-22 20:04] brendtumi opened #164 "Linux (deb) .desktop files"
Is it posible to create .desktop file while packing for linux (deb) ?

[2016-02-23 09:17] develar commented on #164
What do you mean? Icons? Icons is already fixed in 2.8.

[2016-02-23 09:17] #140 closed

[2016-02-23 09:20] develar commented on #156
We already have programmatic API :)

[2016-02-23 09:20] #156 closed

[2016-02-23 09:30] develar commented on #27
In the new API we still use `osx`, `linux` and `win` in the [Distributable Format Configuration](https://github.com/loopline-systems/electron-builder#distributable-format-configuration).

Because:
* Are a lot more user-friendly.
* [Apple officially renames Mac OS X to OS X, drops the 'Mac'](http://www.theverge.com/2012/2/16/2802281/apple-officially-renames-mac-os-x-to-os-x-drops-the-mac)
* Travis

[2016-02-23 09:33] develar commented on #160
Please use Squirrel.Windows installer — new 2.8 API.

[2016-02-23 09:33] #160 closed

[2016-02-23 10:40] stefanjudis commented on #27
:+1:

:+1:

:+1

[2016-02-23 13:31] brendtumi commented on #164
I did not try on 2.8 yet, But i was talking about  desktop shortcuts (Entry).
For locking to launcher or show listing on search.
Example: mongochef.desktop
[code]

[2016-02-23 13:54] develar commented on #164
@brendtumi 2.8 new API creates desktop shortcuts and icons.

Also, you can provide own `.desktop` template, but it is not yet documented and tested. In any case I think that it is not a user-friendly way. Instead, should be a way to customise .desktop` using https://github.com/loopline-systems/electron-builder#distributable-format-configuration

So — please try new 2.8 API and if generated `.deskt

[2016-02-23 18:02] avoidwork opened #168 "npmignore collision with cli.js"
Pull request #162 introduced a new CLI dependency on `./docs` which is ignored by `.npmignore`.

[2016-02-23 18:12] michaelbrooks commented on #168
I believe I am probably encountering this issue as well, on my OSX build:

[code]

[2016-02-23 18:13] avoidwork commented on #168
Now we wait...

[2016-02-23 18:14] avoidwork commented on #168
@develar please merge ASAP

[2016-02-23 18:40] stefanjudis commented on #168
I'm on it. :)

[2016-02-23 18:40] #168 closed

[2016-02-23 18:43] develar commented on #168
@stefanjudis To auto push new npm version, commit message should be be according to semantic-release. To trigger publish, I pushed "fix: remove unused dependency lodash.camelcase" Version will be published after test pass.

[2016-02-23 18:44] stefanjudis commented on #168
okay. I'm waiting then. :)

[2016-02-23 18:50] stefanjudis opened #170 "Collaboration plan"
@develar @avoidwork @havenchyk @citrusui

Heyooo people.

So we had the first break which is something that we should avoid in the future. :)
Let's discuss here how we want to proceed in the future. Goal should be to provide a nice and stable project. :)

That for let's define a review process, a release process and how we want to proceed with the whole thing. It's a migration phase atm which migh

[2016-02-23 18:52] stefanjudis commented on #168
@develar And it's failing.

[2016-02-23 18:58] develar commented on #168
@stefanjudis I see that it is not yet finished — https://travis-ci.org/loopline-systems/electron-builder/builds/111282493 (OS X travis agent doesn't support caches, so, it is slower than linux).

[2016-02-23 19:01] stefanjudis commented on #168
You pushed directly to master... okay. @develar this definitely has to be documented. :)

[2016-02-23 19:10] develar commented on #170
PR to update `CONTRIBUTING.md` will be prepared tomorrow morning (CET).

Tests should use `electron-builder` as a published package to avoid such errors. Not from sources. I will do it. Reviews (#162) doesn't help to prevent such errors :(

[2016-02-23 19:13] stefanjudis commented on #170
Still would love to keep reviews going.

What I'm missing too, is an introduction to the new development flow as I'm not familiar with TypeScript.

[2016-02-23 19:28] havenchyk commented on #170
I'm also thinking that review is not really helpful. We have free time to do open source from time to time, but not always, so tests are much better, IMO. We can try to increase test coverage and create tests for every new feature. @develar used `ava`, if I'm not wrong.

@stefanjudis let's learn new language, it's a superset of javascript, it's newer too late to learn something new :smile:

[2016-02-23 19:32] stefanjudis commented on #170
Sure thing, that proper test coverage should continue going on. :)

I'm not against learning this. I'm just saying that a nice introduction would help me and new people that want to jump in too...

[2016-02-23 19:44] develar commented on #170
Definitely, reviews must be. Not discussable. Commit as a PR in a separate branch. I violated this rule [here](https://github.com/loopline-systems/electron-builder/issues/168#issuecomment-187836257) only to trigger publish (result of missed docs, my fault).

Do you use IDE (WebStorm, IDEA?) or plain text editor? Don't agitate — just to prioritise.
There is a possibility to use TS as JS — without r

[2016-02-23 19:57] avoidwork commented on #170
Hi,

I'm late to the conversation, 'cause it's still my work day. Reviews do help block errors like #162 introduced, if the participants do not rush. Unless you can run the entire workflow in a private environment, you really don't know what's happening if you automatically publish; such actions are dangerous when you consider the cost of introducing an error downstream (it's a hidden cost obvious

[2016-02-23 20:19] havenchyk commented on #170
I also don't like the idea to publish npm version automatically.

@avoidwork I reviews the patch and didn't found any issue, sometimes it's hard to see without the verifying(check on local machine).

[2016-02-23 20:30] #27 closed

[2016-02-25 08:34] #138 closed

[2016-02-25 08:35] develar commented on #170
`semantic-release` documented — #178.

[2016-02-25 09:20] incurito opened #179 "Unable to build windows app in osx"
The build scripts by default only create DMG version of my app when run in an osx environment. Adding `win` section to `package.json` doesn't seem to help. Am I missing something?

[2016-02-25 09:27] develar commented on #179
Please [be aware of caveats](https://github.com/loopline-systems/electron-builder/blob/master/docs/multi-platform-build.md).

`platform` by default equals to current platform. OS X in your case.  Please specify `--patform darwin win32`

[2016-02-25 09:36] incurito commented on #179
Thnx for the quick response.

[2016-02-25 09:36] #179 closed

[2016-02-25 09:57] develar commented on #179
New API is not yet stabilised and we are open to feedback. Our goal is to avoid boilerplate configuration — suggest workflows, but not tons of options.

If you want to build windows on OS X to produce production ready artifacts — we strongly recommend to use CI. Only CI. Nothing to improve.

If you want to build windows on OS X to produce artifact to test (e.g. build on OS X and test using Paralle

[2016-02-25 12:27] uggrock commented on #164
In the provided link, there are no details about the Linux configuration

[2016-02-25 12:43] develar commented on #164
@uggrock Because of `but it is not yet documented`

Have you tried 2.8 new API? What's wrong? What exactly do you want to fix in the generated deb package?

[2016-02-25 12:51] uggrock commented on #164
Yes we tryed it, but I still can not get an icon of my app in the deb file. Is there any example config for Linux?

[2016-02-25 12:58] develar commented on #164
@uggrock `Linux icon set will be generated automatically on the fly from the OS X icns file.` Please see [step 2](https://github.com/loopline-systems/electron-builder#in-short). Did you follow this step and created `build/icon.icns` file?

[2016-02-25 15:58] ccnokes commented on #39
@develar Could you please explain why the two package.json structure is ideal and how it enables support for native modules?

[2016-02-25 16:06] develar commented on #39
@ccnokes It is a common practice, please see https://github.com/szwacz/electron-boilerplate#omg-but-seriously-why-there-are-two-packagejson In our readme there is a link to [real world project](https://github.com/develar/onshape-desktop-shell).

And yes, we (at least, I) are not going to fight against mentioned issues — just use two package.json structure because otherwise it will be constant batt

[2016-02-25 16:47] ccnokes commented on #39
@develar Thanks, I got it working!

[2016-02-25 17:13] thanpolas opened #180 "Problems downloading electron"
Hello, just installed 2.8.3 and trying to create a build...

When i run `npm run pack` I get this error:
[code]

As you can notice it tries to download:

when it should be downloading:

Another issue I have is with the `"postinstall": "install-app-deps",` script... it fails after npm install, when i run it directly from `node_modules/.bin/install-app-deps` i get:

[code]

I use nvm

[2016-02-25 17:16] develar commented on #180
Please specify `"electron-prebuilt": "^0.36.7"` in the development package.json. I suppose, it is specified as `0.36.7` now. Please change it to `^0.36.7`

[2016-02-25 17:23] develar commented on #180
You don't need this because you don't use [two-package.json project layout](https://github.com/loopline-systems/electron-builder/issues/39#issuecomment-188855084). Remove `postinstall` from your package.json (or consider to use suggested layout).

[2016-02-25 17:41] thanpolas commented on #180
Yes, that solved my problem (!).

Ok removed, as a newcomer i'm having a hard time wrapping my head around the flow, readme doesn't help...

I need to run the builder on a stripped down version of the current app, how would i go about doint that?

Thank you for the fast response @develar!

[2016-02-25 18:16] develar commented on #180
Don't quite understand. Do you mean that packaged app (.app osx or .exe win) processed by 3rd party tool and you want to build only installer?

[2016-02-25 18:17] develar commented on #180
It is a bug, will be  fixed.

[2016-02-25 18:29] thanpolas commented on #180
I need to remove all dev deps from node_modules using `npm prune --development` on a copy of the app... and cleanup test folders and the like...  Is there a way to use the output of electron-packager to just generate the installers (.dmg) based on that bundle vs running the packager in the builder?

There are a few packager options that I cannot understand how to pass to the builder like `prune` a

[2016-02-25 18:33] thanpolas commented on #180
ok figured this out, missed the line where the "build" key in package.json is used for that purpose.

[2016-02-25 18:37] develar commented on #180
@thanpolas

asar is used by default. JFYI: See [step 1](https://github.com/loopline-systems/electron-builder#in-short) `This object will be used as a source of electron-packager options. You can specify any other options here.`

Don't try to solve inexistent issue. Don't waste your time. See [two-package.json project layout](https://github.com/loopline-systems/electron-builder/issues/39#issuecomme

[2016-02-25 19:03] havenchyk commented on #180
@thanpolas @develar electron-packager supports `ignore` option, where you can provide a regex to match the packages you wouldn't like to add to the asar. But I like the idea of two-package.json layout, it makes sense.

[2016-02-25 19:06] develar commented on #180
@havenchyk It is exactly what I mean — "it will be constant battle". It is nightmare. Just use two-package.son layout and forget about it.

[2016-02-25 20:38] havenchyk opened #181 "Log some info during the building"
Current build process takes a few minutes in my case even on i7 with ssd, so it would be better to log some information during this build process, at least "start script", "start packaging" etc.

Does it make sense? /cc @develar @stefanjudis

[2016-02-25 21:12] thanpolas opened #182 "How to remove bundled resources per target?"
In my project I am bundling binaries per target (darwin, win) so I want to delete the ones that aren't needed per target, when building osx delete the win binaries and vice versa...

Is there a way to intervene between the package stage and the dist stage so as to manipulate the package before it's bundled in an installable?

[2016-02-26 07:24] develar commented on #181
Please specify your OS and target OS.

I thought about it. And decided, that detailed log is not needed.

Please keep in mind: Windows IO is slow compare to nix (Linux, OS X).

[code]

Who consumes a lot of time?
* Linux: we use `xz` by default. Compression takes a lot of time. Even if CPU 4 GHz Intel Core i7.
* OS X: zip (squirrel.mac) and dmg — the same reason. Compression. And it will be even w

[2016-02-26 07:30] havenchyk commented on #181
OS: os x el capitan
Targer: os x

I have tried with your unshape-desktop-shell. It's ok for now, but in the future it will be a great enhancement.

[2016-02-26 07:31] develar commented on #181
@havenchyk Please provide exact timing — use `time` command.

[2016-02-26 07:33] develar commented on #181
Yes, I experimented to add progress to `zip` native command. It can print dots every n packed MB. Well, decided that it is ok to not print :) No way to speed up in any case :(

[2016-02-26 07:39] develar commented on #182
* You bundle binaries with your app.
* Your app directory contains all binaries — for all OS.
* On package you want to include only binaries for target OS.

Right?

Our goal to provide you workflow, but not tons of options.
So, solution —

* Some directory will be considered as `resources`. Name it `resources`. Located in the root of project.
* This directory `resources` contain subdirectories per

[2016-02-26 08:41] thanpolas commented on #182
Yes, It's exactly like you say, except i didn't target arch, so my folder structure is just `/resources/darwin/` but I could use arch too...

As my understanding of the tools grows i've devised a way to accomplish that as well as avoid having the double package.json architecture...

I am copying the whole project onto a new folder and configure the packager/builder to use that folder, that way I c

[2016-02-26 09:02] develar commented on #182
Will be not required — if no `-64`, directory without arch prefix will be copied.

Hmm... You decided to solve inexistent issue. Ok, up to you.

You want ability to specify path to another folder?

[2016-02-26 09:09] thanpolas commented on #182
It's not non-existent, bundling dev dependencies is an issue. Two package.json is one solution, using `prune` is another... unless i'm not understanding the problem correctly...

Yes, be able to configure the `build/` folder alltogether, or even better specific locations per file (background.png, and icon.***, they're just two files)

[2016-02-26 09:15] develar commented on #182
No. It is not a solution, but awkward workaround :) In case of Two package.json you don't need to prune on each build (and then reinstall dev deps), you don't need to rebuild native deps on each build (and then rebuild dev deps).

[2016-02-26 09:29] thanpolas commented on #182
The flow for prune is:

1. Copy the whole app directory into a target folder
1. Perform any granular controls on what goes into the bundle by deleting test folder etc (how is this managed today?)
1. Use that new folder for packager and builder and apply the `prune` option on...

If native apps have already been built on your original app, then there's no need to rebuild native deps...

The outcome

[2016-02-26 09:34] develar commented on #182
`app` folder must contains only and only app data. Nothing more. `test` is not part of the app, so, must be located in the root of project (alongside development package.json).
You don't need do granular controls — just put in the `app` exactly what you want to be part of the app and nothing more.

`electron-builder` can and should do smart filtering — bundled binaries for target platform only, fo

[2016-02-26 09:37] thanpolas commented on #182
How is the `app/` folder activated? As long as I have an `app/` folder the builder will use that instead of the whole app? I don't really get that part... how does it work?

For me, were I am porting an existing application into electron, it'll be a big challenge to move everything under `app/`...

[2016-02-26 09:44] develar commented on #182
If `app` folder exists in the project, builder will automatically switch to two-package.json layout. And use `app/package.json` as an app package.json and `./package.json` as a dev package.json.

See https://github.com/develar/onshape-desktop-shell
In the `app` you see only `package.json`. Because typescript compiler will compile TS files to JS to `app/out` — https://github.com/develar/onshape-des

[2016-02-26 09:45] develar commented on #182
Do you mean that existing application will continue to be non-electron only, and, so, your team doesn't approve moving files?

[2016-02-26 09:56] thanpolas commented on #182
No, there will be no backwards support, we're 100% electron from here on... but moving hundreds of files and updating paths will be quite some work...

In that scenario where we have all files under `app/` where would the `resouces/` folder go which has the bundled binaries per platform? I understand it should be within `app/` so the application can access it after the build operation

[2016-02-26 10:08] develar commented on #182
Yes, you understand correctly — since it is a part of app, " it should be within app/ so the application can access it after the build operation". `electron-builder` can (this issue about it :)) and will soon filter out according to my [proposal](https://github.com/loopline-systems/electron-builder/issues/182#issuecomment-189148442).

I strongly advice do it. Or.... Well, to be honest, if you prob

[2016-02-26 10:19] thanpolas commented on #182
I'd like that decision to be made by the app author and not a library... Moving everything into `app/` is a very radical move that will require a lot of assessment before it's decided, i'm not against it, i'm just point out that this is not trivial.

There's still the issue of production npm dependencies that need pruning as well. Our app is in a mature state with over 80 prod deps... Those 80 pro

[2016-02-26 10:24] thanpolas commented on #182
...and then, there are the cases of the built files and their sources, I am talking about sass/less, js and their templates sources that get bundled into single files and minimized.

These sources need to be deleted.

[2016-02-26 10:34] develar commented on #182
Sources is not part of app. Example: in the https://github.com/develar/onshape-desktop-shell `src` located outside of `app` folder.  Compiler then will compile it to `app/out`.

We don't dictate. `builder` supports one-package.json layout. I just say, that we are not going to solve obvious issues with this layout.

[2016-02-26 10:52] uggrock commented on #164
@develar Thanks for your answer. The part with generaration the linux icon from icns file is not very intuitive. Is the use of external config file now deprecated? Will it be possible in the feature to customize the name of the build folder, with the location of the icons?

[2016-02-26 10:53] thanpolas commented on #182
I see...

So is there anyway to accomplish the operation decoupling so as to process the packaged app `bundle.app` before creating the `bundle.dmg` distributable?

[2016-02-26 11:02] develar opened #184 "Configure build resources directory"
Proposal:

Use [directories](https://docs.npmjs.com/files/package.json#directories).`buildResources` key in the development package.json.

Default value: `build`
Path relative to the root of project (i.e. development package.json).

[2016-02-26 11:02] develar commented on #164
The problem is that linux layout is very complex and it is not easy for you, as user, to follow it (also, it can be different for other Linux distro/window manager). So, I have decided to just allow to provide simple OS X icns file.

Yes. https://github.com/loopline-systems/electron-builder#distributable-format-configuration is a preferred way.

Just ask. Do you like https://github.com/loopline-sy

[2016-02-26 11:07] uggrock commented on #184
This will be great!

[2016-02-26 11:09] develar commented on #182
Will be implemented (ability to provide own js implementation to process out dir). But I guess for your `ignore` electron packager option is a working solution (I cannot give a direct link, find it on the https://github.com/maxogden/electron-packager page). (except filtering out binaries).

[2016-02-26 11:11] develar commented on #184
@uggrock Could you please specify your desired value (name of your `build` folder)? May be we can just try to use it by default (i.e. if it is named `assets`, it is reasonable to just try to find such folder in the project dir automatically by default).

[2016-02-27 07:15] demetris-manikas commented on #184
Why not just follow the path given? e.g: "background": "RELATIVE_DIR/MY_BACKGROUND_NAME.jpg" ?

[2016-02-27 08:08] develar commented on #184
@demetris-manikas

As user, I don't want to specify all of required paths.
As user, I want to build my app in distributable format. Don't learn all required tools to do it.

`electron-builder` does it for you. You need just follow convention.

So, I think, it is better for user just follow some convention. And tool will do of the rest.

[2016-02-27 08:41] demetris-manikas commented on #184
@develar I am not saying that defaults should not exist. But that a good tool allows the user to override defaults. For me it's not a good thing for a tool to enforce the layout of an application in anyway.
e.g. Say that an app uses the same icon that is being used for the installer. The tool enforces the user to duplicate the resource leading to another thing to remember to do when changing the i

[2016-02-27 08:44] develar commented on #184
@demetris-manikas Understand. It will be implemented. Not recommended, but `not a good thing for a tool to enforce the layout of an application`.

[2016-02-28 10:27] ArekSredzki opened #185 "Add Electron Release Server as an alternative to Nuts"
Initially I tried using nuts, but seeing as my use case of releasing an application internally at Tesla did not deal with Github, I ended up developing the app from scratch. Perhaps it'd be of use to others as well, it'd be great if you could link to it as I have to this :) https://github.com/ArekSredzki/electron-release-server

[2016-02-28 10:30] develar commented on #185
Offtopic: Is https://github.com/GitbookIO/nuts/issues/32 fixed in your package?

[2016-02-28 10:31] ArekSredzki commented on #185
Yup!

[2016-02-28 16:19] develar commented on #184
@demetris-manikas I have realised that you request is already implemented – see https://github.com/loopline-systems/electron-builder#distributable-format-configuration (just specify own `background`). If it doesn't work, please file an issue.

[2016-02-29 15:57] havenchyk opened #188 "Problem with dist on windows."
Hi, @develar.

During the installer creation I've got the error:

[code]

but file exists in the folder.
Packaging step was ok.

Electron 0.36.8
OS: windows 7 x64

[2016-02-29 18:18] demetris-manikas commented on #184
It was not my request but anyway I 'll try it first thing in the morning...

[2016-03-01 14:08] mcaoun opened #190 "Releases file for Windows not uploaded to Github"
I think the RELEASES file is needed on the nuts server and for windows updates, but it doesn't seem to get uploaded to Github.
(See https://github.com/GitbookIO/nuts/blob/master/docs/update-windows.md)

Looking at the code it seems to be the intended behavior given that disaptchArtifactCreated is called only for the Setup.exe and the nuget package.
https://github.com/loopline-systems/electron-buil

[2016-03-01 14:12] develar commented on #190
Not implemented due to https://github.com/GitbookIO/nuts/issues/32.

[2016-03-01 14:15] mcaoun commented on #190
Should I disable 32 bits releases - would that help?
Do I need then to manually upload the Releases files?
In general do you have any workaround or pending fix?

[2016-03-01 14:22] develar commented on #190
I will try to fix it today.

[2016-03-01 14:26] mcaoun commented on #190
ok, thanks!

[2016-03-03 00:24] jayalfredprufrock commented on #184
I've been trying to specify my own location for the OSX icon file as detailed in the docs and it doesn't seem to be working. I know it's finding the icon because if I alter the path to something bogus it throws an error. Specifying the background image DOES work though. Oddly enough, when I place the icon.icns file and background.png file in the "build" directory and rely on the defaults, the icon

[2016-03-03 03:04] ArekSredzki commented on #185
@develar Hey, just wondering if you've gotten a chance to take a look and what you think :)

Thanks!

[2016-03-03 05:51] demetris-manikas opened #195 "Remove temp fork dependencies"
Documentation states that electron-packager and https://github.com/electronjs/windows-installer are used under the hood. The truth being that some electron-packager-tf and electron-winstaller-temp-fork are actually being used.
@develar Do you plan on maintaining updates to the original projects?
If so the documentation should state the truth otherwise electron-builder should really depend on the o

[2016-03-03 06:02] demetris-manikas opened #196 "Windows installer authors is not properly read from package.json"
To create a linux installer I had to change the application package.json "author":"blah" to "author":{
"name":"blah", "email": "blah@blah.com"}. This had a side effect in the windows installer where the authors field (Publisher in the add/remove programs) to read [Object object].

Adding the owners field in the win section of the development package.json fixes the problem.
Having in mind that the

[2016-03-03 06:11] develar commented on #195
As it is finally published, we can use original project.

But @havenchyk tried pre-release version and reported that there is a critical error in the original windows-installer.

I will check it in a few days.

[2016-03-03 07:29] havenchyk commented on #195
@demetris-manikas yep, in my case I have not correct handling of the path and get an exception. I'll create an issue against windows-installer after double check.

[2016-03-03 13:19] #184 closed

[2016-03-03 13:20] #196 closed

[2016-03-03 13:23] develar opened #197 "Specify my own location for the OSX icon file: doesn't work"
@jayalfredprufrock reported: I've been trying to specify my own location for the OSX icon file as detailed in the docs and it doesn't seem to be working. I know it's finding the icon because if I alter the path to something bogus it throws an error. Specifying the background image DOES work though. Oddly enough, when I place the icon.icns file and background.png file in the "build" directory and r

[2016-03-03 13:24] develar commented on #184
@jayalfredprufrock Reported as #197.

[2016-03-03 14:04] #164 closed

[2016-03-03 15:02] mcaoun commented on #190
Is there something I can do to help here?

What is the plan for the fix?
 - Upload the RELEASES file when a single architecture is supported,
 - Or upload both releases files and fix https://github.com/GitbookIO/nuts/issues/32,
 - Or use something other than the nuts server?

Thanks

[2016-03-03 17:53] develar commented on #190
Fixed. v2.8.5 will be published in several hours.

We upload RELEASES for x64 and RELEASES-ia32 for ia-32. Nuts issue should be fixed anyway to use ia32. Currently, you can use x64.

Please note — you should specify [remoteReleases](https://github.com/electronjs/windows-installer#usage) to " If given, these will be downloaded to create delta updates". I haven't tried it yet, so, cannot five detail

[2016-03-03 20:00] #190 closed

[2016-03-04 07:28] #185 closed

[2016-03-05 20:56] mcaoun opened #208 "Getting "no such file or directory, rename ...""
Since version 2.8.4 I get the error

    No such file or directory, rename 'C:\projects\myapp\desktop\dist\win\Setup.exe' -> 'C:\projects\myapp\desktop\dist\win\MyAppSetup-1.1.0.exe

I have tested both on my Windows machine and on Appveyor and the same error occurs.

It doesn't happen if I revert back to 2.8.3

I also see a new directory being created at the same location as my package.json, in my

[2016-03-06 06:55] develar commented on #208
Yes, winstaller is broken. I have set latest to 2.8.3.

[2016-03-06 23:30] jkudish opened #215 "Tries to download electron from invalid URL"
Trying to build a Windows release, I get the following:

[code]

There's a `0` missing in the filename, it should be:

[code]

[2016-03-06 23:32] jkudish commented on #215
Just read in #180 that I had to provide the `electron-prebuilt` version like this:

`"electron-prebuilt": "^0.36.10"`

[2016-03-06 23:32] #215 closed

[2016-03-07 05:24] ahgan84 opened #217 "Problem building the windows installer"
Hi guys, I'm trying to build a window installer for my application using electron-builder, below is my package.json file:

`{
  "name": "electron-packager-keypad",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "electron .",
    "pack": "electron-packager . keypad --platform=win32 --arch=ia32 --version=0.35.4 --icon=my.ico --overwrite=1",
    "build":

[2016-03-07 06:34] develar commented on #217
What node version are you on? NodeJS 4+ is required.

[2016-03-07 09:04] ahgan84 commented on #217
I have updated my NodeJS to version 4+ and I try build again.
Now I have another error:

Error: makensis failed
    at ChildProcess.<anonymous> (C:\Work\Project 2015\electron-packager-myq-io-keypad\node_modules\electron-builder\lib\win.js:97:26)
    at emitOne (events.js:77:13)
    at ChildProcess.emit (events.js:169:7)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:198:12)

[2016-03-07 09:06] develar commented on #217
Could you please provide full log?

[2016-03-07 09:21] ahgan84 commented on #217
I have successfully created the windows installer.
The problem just now is I need to install the NSIS: Nullsoft Scriptable Install System first.

[2016-03-07 09:22] develar commented on #217
Please consider to use new API. And use Squirrel.Windows (default if you use new API) instead of NSIS.

[2016-03-07 09:22] #217 closed

[2016-03-07 09:29] ahgan84 commented on #217
Don't get what u mean.
U mean I can install Squirrel.Windows and the makensis failed problem can be solved too?

[2016-03-07 09:31] develar commented on #217
I mean that since version 2.8 electron-builder has a new API and I recommend to use it. NSIS is also deprecated.

[2016-03-07 09:35] ahgan84 commented on #217
U mean I have to uninstall the NSIS and install the Squirrel.Windows and then rebuild the installer again?
Any step by step instruction to follow if I use Squirrel.Windows?

[2016-03-07 09:36] develar commented on #217
Please see readme [In short](https://github.com/loopline-systems/electron-builder#in-short).

[2016-03-07 09:38] ahgan84 commented on #217
Yes. This is what I follow to build my windows installer just now.
But I can't find any Squirrel.Windows info in your link.

[2016-03-07 09:42] develar commented on #217
Your `package.json` shows that you use old API. You don't need electron-packager and your script tasks should be exactly like in the docs (step 3 Add scripts).

(also, please don't forget about https://github.com/electronjs/windows-installer#handling-squirrel-events).

[2016-03-08 09:32] mcaoun commented on #208
I cannot benefit from the fix to https://github.com/loopline-systems/electron-builder/issues/190 until this one is resolved. Correct?

[2016-03-08 09:34] develar commented on #208
@mcaoun Yes, blocked on. I am going to publish pre-release version in a few hours.

[2016-03-08 12:28] #208 closed

[2016-03-08 12:38] develar commented on #208
@mcaoun Please try version `next`.

[2016-03-08 13:52] demetris-manikas opened #223 "Windows installer dist files confusion"
Using 2.8.6 when i run npm run dist on windows I get the following file structure under the dist directory and it makes me wonder...

under the win directory there are to identical RELEASE files one named RELEASE-ia32 which both reference a AppName-version-full.nupkg file

on the other hand in win-x64 directory there is a RELEASES file that references a  AppName-version-full.nupkg which doesn't ex

[2016-03-08 13:54] develar commented on #223
Please see #190

I will check, thanks.

[2016-03-08 15:46] mcaoun commented on #208
yes, it looks good as far as I can tell, thanks

[2016-03-08 15:48] develar commented on #208
@mcaoun #223 prevents you to use RELEASES files, I am working on fix.

[2016-03-08 20:50] havenchyk commented on #188
Fixed with 2.8.6.

[2016-03-08 20:50] #188 closed

[2016-03-08 20:52] havenchyk commented on #195
@develar tested with the electron-winstaller@2.0.5, probably we can use it instead of fork.

[2016-03-09 08:01] havenchyk opened #225 "Moving to the electron-userland"
Hi @stefanjudis.

It looks like electron-builder became a "must have" package for electron applications.
What do you think about moving this package to the community repository: [electron-userland](https://github.com/electron-userland)?

[2016-03-09 08:05] stefanjudis commented on #225
Actually I was thinking about that yesterday too. :) sure thing! :+1:
Am 09.03.2016 9:02 vorm. schrieb "Uladzimir Havenchyk" <
notifications@github.com>:

[2016-03-09 08:06] stefanjudis commented on #225
How is the process for that? .cc @maxogden

[2016-03-09 11:35] #223 closed

[2016-03-09 11:53] havenchyk commented on #225
/cc @malept @sethlu

[2016-03-09 15:42] malept commented on #225
I'm :+1: for that idea.

[2016-03-09 20:19] havenchyk commented on #225
@malept nice, could you please share some details, how to make this transfer?

[2016-03-09 20:51] malept commented on #225
I need to make an admin of this repository an admin of electron-userland, and then they can transfer the repository to the org.

[2016-03-09 20:53] havenchyk commented on #225
@stefanjudis @develar ping

[2016-03-09 21:26] null9beta commented on #225
@malept you can make either @stefanjudis or me an admin of electron-userland and either one of us can start the transfer

there is just one pre-condition i have before starting the transfer
1. the electron-builder shall stay under MIT Licence and the Copyright notice shall still contain
`Copyright (c) 2015 Loopline Systems , <add_yourselfs_here>`

If you wonder who´s that guy from the offside here

[2016-03-09 21:41] malept commented on #225
There's no requirement for the license (or copyright holders) to change. It would be nice if electron-builder agreed to become an [open open source project](http://openopensource.org/), but that's not a requirement either.

[2016-03-09 21:41] malept commented on #225
I have invited @stefanjudis to the org.

[2016-03-09 22:29] maxogden commented on #225
Actually I'd say it is a requirement for all projects under electron-userland to be http://openopensource.org/ projects. Also it should only get transferred to electron-userland if the existing author(s) feel like they are not currently able to maintain the project effectively. If they have no issues with maintaining it now or in the forseeable future then I don't see any benefit to moving ownersh

[2016-03-09 22:44] malept commented on #225
@maxogden sounds good. We should formalize that somewhere. (electron-userland.github.io or a electron-userland/meta repository, to give some examples.)

[2016-03-09 22:45] maxogden commented on #225
@malept Good idea. The reason I think open open source should be a requirement is that is the way I can think of to prevent the electron-userland from becoming a dumping ground for modules that will end up unmaintained.

[2016-03-09 23:08] malept commented on #225
:+1: :heavy_multiplication_x: :100:

[2016-03-10 02:07] malept commented on #225
Given what Max wrote here and in https://github.com/electron-userland/about#readme, do you guys still want to move the repository?

[2016-03-10 07:36] develar commented on #225
I don't see problem here. http://openopensource.org/ is not a license, but development model. Right?

@null9beta In the version 3.0 there will be no old code from the electron-build <2.7 :) But of course I think no one want to remove "Loopline Systems" copyright or something like that.

And our current model exactly the same — e. g. when @stefanjudis decided that [electron-complete-builder API](ht

[2016-03-10 07:44] develar commented on #225
@stefanjudis is a great admin, his governance like http://openopensource.org (all rules are the same).

@stefanjudis has a acceptable reaction to requests (that requires admin rights — e.g. add new CI server) and adds collaborators if need.
To summarise:

Well, I hope we do :)

Although @stefanjudis doesn't have a time to write code, but he always has a time to respond to collaborators requests :)

[2016-03-10 22:14] russss opened #229 "Github publishing not working on Linux"
When building on Linux, the GitHub publisher can't find the .deb files for some reason:

[code]

The file `IRCCloud-0.1.2-i386.deb` definitely exists under `dist/`, so I suspect there's something specific to the deb building workflow which isn't sending the correct path to the publisher.

[2016-03-11 02:36] d9k opened #230 "How to add dlls to application package"
Hi! Maybe I've missed something... How can I add dll libraries to application installation package? The dlls must be at the same (package's root) folder where `MyApp.exe` located (`node.dll` and others).

[2016-03-11 06:32] develar commented on #230
I don't see such option in the electron-packager.

What solution do yo like — `extraResources` dir in the `build` directory (and configurable path to change default)?

Or just specify `extraResources` to filenames of a files to be copies?
Maybe there is another solution to magically find such dlls and copy it?

[2016-03-11 06:44] #229 closed

[2016-03-11 06:50] havenchyk commented on #181
I'm closing it for now, not a high priority. Maybe we can open it later.

[2016-03-11 06:50] #181 closed

[2016-03-11 08:55] russss commented on #229
Thanks for the quick fix!

[2016-03-11 12:23] develar commented on #63
@rishson Is it still needed or I can close this issue (please see our new API and layout)?

[2016-03-11 14:20] d9k commented on #230
@develar thanks for answering!
Are you just planning this feature?
Do there exist any working solution exists for now?

If you ask me, I love gulp's style of pattern matching. Files and folders can be specified. `!` symbol at the beginning of rule means exclusion. `extraResources` may be different for each platform. For example:

[code]

[2016-03-11 14:34] develar commented on #230
No. But once will be a proposal, it will be implemented. Since today is Friday, you can expect working solution on Monday.

I like your proposal.

[2016-03-11 14:35] develar commented on #230
`electron-packager` currently has option `extra-resource` but only for OS X.

[2016-03-12 03:29] ArekSredzki opened #233 "Unable to build distributable releases"
Hi everyone, I only just now switched from `electron-complete-builder` to this, but I'm running into issues.

I'm running the latest release of OS X.

`build -d --platform darwin`:
[code]

`build -d --platform win32`:
[code]

`build -d --platform linux`:
[code]

Thanks for your help

[2016-03-12 08:11] develar commented on #233
Please provide the full logs in the future.

Do you build on OS X? You can dist [only on OS X](https://github.com/loopline-systems/electron-builder/blob/master/docs/multi-platform-build.md#multi-platform-build).

Maybe it is a new electron issue (I mean unsupported), I will check, in any case please provide full log and electron-builder version.

Please see https://github.com/loopline-systems/elec

[2016-03-13 00:36] mcaoun opened #234 "Windows nupkg downloaded twice each time / also keeps downloading latest release"
I am experiencing the following issue(s) with the windows downloads. As soon as the app is installed it starts downloading the latest version and it does that twice in a row.

Initially I suspected I might be doing something wrong but then I was able to get the same behavior to occur with this simple app:

    var handleStartupEvent = function() {
      var squirrelCommand = process.argv[1];

[2016-03-13 09:32] develar commented on #234
I still don't have time to fix Nuts issue...

Ok, we will produce x64 without arch prefix (as we already do in case of RELEASES file).

[2016-03-13 10:29] havenchyk commented on #170
Can be closed, I guess. /cc @stefanjudis @develar

[2016-03-13 12:09] #234 closed

[2016-03-13 17:30] develar commented on #230
Doc draft note:
* [glob](https://www.npmjs.com/package/glob#glob-primer) is used.
* You can use `${os}` (expanded to osx, linux, win according to current platform) and `${arch}` in the pattern.
* If directory matched, all content is copied. So, you can just specify `foo` to copy `<project_dir>/foo` to app.

[2016-03-13 17:52] develar commented on #230
And, obviously, you should use two-package.json layout, because otherwise electron-packager will copy all project dir to app. See #182 and https://github.com/loopline-systems/electron-builder/issues/39#issuecomment-188855084

[2016-03-13 20:39] jkudish opened #239 "Linux build fails at icon conversion"
Building a `deb` with the latest release (2.9.5) I get the following error:

[code]

I have provided a `build/icon.icns` file (generated using these steps: http://blog.macsales.com/28492-create-your-own-custom-icons-in-10-7-5-or-later). When I look what's in the `/tmp/electron-builder-30935NzzLT2KzUll7/` folder, I see that it created the following icons:

[code]

Looks like 64 and 128 is missing.

[2016-03-13 23:47] mcaoun commented on #234
The change you made fixed the issue where it would keep downloading the latest release, thanks!

However, it still downloads the package twice on upgrades, not sure what is causing that. Maybe it is only me?

[2016-03-14 06:41] develar commented on #239
Thanks, will be fixed.

Do you have 48x48 icon (just curios)?

[2016-03-14 08:05] develar commented on #239
You can try pre-release version — set version to `https://github.com/develar/electron-complete-builder/releases/download/vNext/electron-builder-0.0.0-semantic-release-4.tgz`

Reproduced — on Travis server icns2png doesn't work at all — `No elements were extracted from`.

[2016-03-14 09:28] develar commented on #230
v2.10.0 is a pre-release version, once you confirm that it works as expected, it will be tagged as latest.

[2016-03-14 10:20] jbleuzen commented on #239
Thanks the `electron-builder-0.0.0-semantic-release-4.tgz` build works...

[2016-03-14 10:30] develar commented on #239
@jbleuzen Thanks for confirmation. What I want — since you in any case have to provide icns file for OS X, it will be better if tool will use it to generate linux icon set. Well, it seems that icns2png is broken on Linux. Well, "could I just provide the icons "manually"" makes sense.

[2016-03-14 15:20] #239 closed

[2016-03-14 16:57] d9k commented on #230
@develar, yes, it works as expected, thanks a lot! :relieved:

[2016-03-14 22:36] stefanjudis commented on #170
Yeha let's do it...

Project is good rollin. :)

[2016-03-14 22:36] #170 closed

[2016-03-14 22:47] stefanjudis commented on #225
Sorry for lack of response.

This is exactly what we're doing so far. :) As I have no real time currently and @develar is doing a fantastic job over with more people contributing and giving feedback. :)

That's exactly my feeling with the module right now - opening up is the only real solution. :+1:

I have to say that I too think that a neutral ownership can help getting new contributors.

Also t

[2016-03-15 03:20] jkudish commented on #239
Confirmed here too, Linux builds correctly now. Thanks for the fix!

[2016-03-15 03:22] jkudish opened #242 "Linux ubuntu deb License"
When the produced deb is opened in the Ubuntu Software Center, there's a few details missing:

* Developer Website points to `example.com`
* License is missing
* No icon is shown

Is it possible to fill in those details? Pretty low priority, but would be nice to have this info.

[2016-03-15 04:37] jkudish opened #243 "Windows: Failed to modify resources"
Trying to build an app for Windows, from Windows, I get a "Failed to modify resources" error. See [full log here](https://gist.github.com/jkudish/f8173ac4bef7eb1b354a)

Seems to be related to https://github.com/Squirrel/Squirrel.Windows/issues/488 and to https://github.com/atom/grunt-electron-installer/issues/96 though I am not positive it's the exact same error or not.

Despite the error, the bui

[2016-03-15 05:24] jkudish commented on #243
FWIW I tried to follow the steps [here](https://github.com/atom/grunt-electron-installer/issues/96#issuecomment-194786617) but that didn't help.

[2016-03-15 06:06] develar commented on #242
Even after #239? Please specify exactly where icon is missed.

Where it is missed?

Yes, we don't specify `--url` (https://github.com/jordansissel/fpm/wiki) "Add a url for this package. (default: "http://example.com/no-uri-given")"
I will add `build.linux.packageUrl`. Do you like this solution?

[2016-03-15 16:54] jkudish commented on #242
These are missed in the Ubuntu Software Center that is opened when the deb is opened on an Ubuntu machine. (This is not related to #239, that one is fixed, thanks!). I am not even positive that it's possible to set an icon there, but there is a white empty box indicating a space for a possible "screenshot". Other apps (not electron) have that set. That's also where the license shows as "unknown".

[2016-03-16 10:05] EvgeneOskin opened #247 "Wrong path to package when build Mac dist"
Hello,

I've got error bellow, when I tried to generate .dmg with `./node_modules/.bin/build --dist` command.

[code]

Build config is
[code]

Actual path to .app file is `/Users/eoskin/projects/sawebshell/dist/desktop/Serverauditor-darwin-x64/Serverauditor.app`.

Did I something wrong? Do you need extra info?

[2016-03-16 10:58] develar commented on #247
Please don't specify `"dir": ".",` and `"out": "dist/desktop"` — must be removed.

` "asar": true,` is not required — asar by default.

[2016-03-16 10:58] #247 closed

[2016-03-16 11:31] EvgeneOskin commented on #247
Thanks!

[2016-03-16 11:32] develar commented on #247
BTW, we remove such incorrect options in the upcoming release.

[2016-03-16 16:03] d9k opened #249 "Resulting Setup.msi exits without any warning"
I'm packing my electron app with electron-builder on Windows 7 x64. But when I try to execute resulting `dist\win-x64\Setup.msi` the installation process just exits without any message. How can I debug what goes wrong?
I tried to make my application "Squirrel Aware" just by copying code from http://www.mylifeforthecode.com/creating-a-windows-distribution-of-an-electron-app-using-squirrel/ but no l

[2016-03-16 16:09] develar commented on #249
Such questions should be addressed to https://github.com/electronjs/windows-installer

[2016-03-16 16:28] develar commented on #249
Consider to:
* build only one arch (`--arch x64` (or `ia32`))
* if you don't need an MSI, set `build.win.noMsi` to `true`. See https://github.com/loopline-systems/electron-builder#distributable-format-configuration

[2016-03-16 16:36] develar commented on #243
@jkudish Looks like icon is missed, see https://github.com/loopline-systems/electron-builder#in-short about icons (step 2 "icon.ico (Windows app icon)").

[2016-03-16 17:00] d9k commented on #249
@develar After I run builder with `--arch x64` the `dist/win-x64` folder is empty. Is it normal behaviour?

[2016-03-16 17:06] d9k commented on #249
@develar also I get dll linking error (as it was before you made extraResources support https://github.com/loopline-systems/electron-builder/issues/230) when I run `dist/win/Setup.exe` which was made by `builder --arch x64`

[2016-03-16 17:08] d9k commented on #249
@develar my `package.json`:

[code]

When I run `npm run dist:win` it glitches too: no packages are made, only unpacked application files at `dist/OrbiletClient-win32-ia32`, `dist/OrbiletClient-win32-x64`.

[2016-03-16 19:12] jkudish commented on #243
I have the URL specified as per the documentation in my `app/package.json` not in the main development `package.json`. Should it be in both?

[2016-03-16 19:13] andrewwebber opened #250 "Expose NoMsi option"
Currently building on windows always tries to build the WIX MSI project.
Currently I am only distributing the application without the MSI and the build time is very long building the MSI

[2016-03-16 19:30] demetris-manikas commented on #250
It is already exposed. Add "noMsi" = true to the win section of your config

[2016-03-16 20:41] andrewwebber commented on #250
I do not see where the noMsi flag is being propagated via the options.
[https://github.com/loopline-systems/electron-builder/blob/master/src/winPackager.ts#L113](https://github.com/loopline-systems/electron-builder/blob/master/src/winPackager.ts#L113)

[2016-03-17 07:03] demetris-manikas commented on #250
I would READ the docs first and follow the instructions (Distributable Format Configuration https://github.com/electronjs/windows-installer#usage) before start digging into code that I don't understand.
https://github.com/loopline-systems/electron-builder/blob/master/src/winPackager.ts#L113

The option is passed in through the customBuildOptions so set the option and see what it does for you.

[2016-03-17 08:49] #250 closed

[2016-03-17 09:04] develar commented on #243
Under the hood we also set `setupIcon` (https://github.com/electronjs/windows-installer#usage)  So, file `build/icon.ico` must exists. Do you have it?

[2016-03-17 10:59] develar commented on #249
I filed https://github.com/electronjs/windows-installer/issues/40

[2016-03-17 10:59] develar commented on #250
Related: https://github.com/electronjs/windows-installer/issues/40

[2016-03-17 11:07] develar opened #251 "Remove support of `build` in the application package.json"
It is a source of confusion.

Why `iconUrl`, all electron-packager options should be specified in app package.json, but electron-builder specific options (`extraResources`) and windows-installer/appdmg options in the dev?

My proposal: use only `build` in the dev package.json. Also, it is important, because app paths should be relative to project dir (and in case of dev package.json it is clear an

[2016-03-17 11:52] andrewwebber commented on #250
The following json does not work for me

[code]

[2016-03-17 11:55] develar commented on #250
@andrewwebber Sorry for confusing (#251), but do you use two-package.json structure or not? If yes, please ensure that `build.win.noMsi` in the development package.json (not in app).

[2016-03-17 12:13] andrewwebber commented on #250
I have been living happily with two package.json files, one in the root folder and one nested.
I started with way as I wanted to exclude node_modules from the package builder.

Root Folder
[code]

WWW folder
[code]

[2016-03-17 12:16] develar commented on #250
So, please, for now, duplicate `build` in the development package.json (in the root folder), as it stated in the docs.

And your opinion about #251 is important for us.

[2016-03-17 12:24] demetris-manikas commented on #250
Well.. here is how I use it.
in ROOT package.json
[code]
in WWW package.json

[code]

Hope it helps

[2016-03-17 12:28] demetris-manikas commented on #250
I would expect not to need to the www package.json entry but it wont go further without it AFAIK.
@develar Maybe you can give some insight into this

[2016-03-17 12:31] andrewwebber commented on #250
thanks i will give it a try.

i personally find having a the icon information in the www package.json file as this is relative folder i wish to package. I use webpack (reactjs,babel,etc.) as a development flow before packaging and like to have a destination folder that i could then say i wish to package. this means i dont have to define flags for folders that have to be excluded (it is implict tha

[2016-03-17 13:00] demetris-manikas commented on #250
the iconUrl can be kept in the www/package.json

[2016-03-17 13:40] andrewwebber commented on #250
but according to @demetris-manikas  the "noMsi" cannot. is this not inconsistent?

[2016-03-17 13:40] d9k commented on #249
@develar thanks, what about issues with `--arch x64` and `--platform win32` arguments?

[2016-03-17 14:16] havenchyk commented on #251
I'm agree, let's use the only place to make all the configurations.

[2016-03-17 17:56] d9k opened #252 ".exe - installer doesn't copy directories with extra resources during installation"
Hi! Thanks for providing extraResources enhancement (https://github.com/loopline-systems/electron-builder/issues/230)
But I have an issue: installer doesn't copy directories with extra resources to target path during installation.

package.json:
[code]

After running builder there is "libs" folder at the non-archived distribution at `dist\MyApp-win32-x64`
but when I execute installer package locat

[2016-03-17 18:18] jkudish commented on #243
Yep, I have the file, and I have it in my config too:

[code]

[2016-03-17 18:37] marcopiraccini opened #253 "Weird "green" dialogin windows 7 64"
Hi,
I created an installer for win64 and I run it in Windows 7.
When I run it, a strange "green" dialog appears (see attachments). Probably it should be a dialog saying that the installer it's doing the install (copying the files, etc). But it's weird :)
Did anyone had the same behaviour?

![squirrel](https://cloud.githubusercontent.com/assets/668050/13856837/6e3dae3c-ec77-11e5-8c81-c5bdc6655ebe.p

[2016-03-17 20:36] stefanjudis commented on #225
@malept

Last question - npm handles this move easily by updating the `package.json`?

[2016-03-17 20:45] malept commented on #225
@stefanjudis probably? I am not an expert on NPM publishing by any stretch of the imagination. :grin:

[2016-03-18 12:34] develar commented on #225
@stefanjudis I don't see any problem. We don't change package name, npm allows to add/remove owner.

[2016-03-18 12:39] develar commented on #253
As far I understand, it is ok, please ask about it in the [windows-installer](https://github.com/electronjs/windows-installer/issues).

[2016-03-18 12:39] #253 closed

[2016-03-18 12:50] develar commented on #252
Please ask about it in the [windows-installer](https://github.com/electronjs/windows-installer/issues). I have no clue why.

[2016-03-18 12:54] develar commented on #250
Yes, it is inconsistent and confusing. See #251

[2016-03-18 15:43] develar commented on #234
@mcaoun Please file issue to https://github.com/GitbookIO/nuts/issues (please don't forget to mention this issue, so, I can subscribe to ticket).

[2016-03-18 16:46] jbleuzen commented on #243
I have the same error when building on a Win10 VM (x64). On another VM Win7 (ia32) we don't have this problem....

[2016-03-18 17:57] jkudish commented on #243
Hmm good to know @jbleuzen -- I'll try a Win7 VM

[2016-03-18 18:09] develar commented on #170
Note for contributors: You will get error `npm ERR! cb() never called!` if you will use NodeJS 5.9 (released two days ago). CI broken as well (only nodejs 4 successful). Workaround — use nodejs 5.8. I have fixed CI to explicitly use nodejs 5.8.

[2016-03-18 19:16] akdiallo commented on #39
@ccnokes What did you do to make it work ? I'm having this issue :
$ nvm install v4.4.0
-bash: nvm: command not found

My version of node : v4.4.0
My version of npm : 2.14.20

I'm trying to make an installer in Mac OSX yosemite for Windows.

I run this command : npm run dist (based on this link : https://github.com/loopline-systems/electron-builder

Thanks in advance

[2016-03-18 19:19] develar commented on #39
@akdiallo nvm here only as an example tool to install custom version of nodejs. Nothing more. Just use [two-package.json project structure](https://github.com/loopline-systems/electron-builder#two-packagejson-structure) and forget about native modules problem.

[2016-03-18 19:29] ccnokes commented on #39
@akdiallo ditto to what @develar said. But just in case you need more context, nvm stands for node version manager and simply allows you to run multiple version of node on the same machine, see https://github.com/creationix/nvm.

[2016-03-18 20:28] #251 closed

[2016-03-18 21:47] #180 closed

[2016-03-18 22:19] akdiallo commented on #39
@ccnokes @develar Thank you for your quick answer. That's what I'm doing and now i'm getting errors with makensis.

When I run this command : electron-builder dist/win32/app-win32-x64/ --platform=win --out=dist/ --config=packager.json

I have these errors :

[code]

[2016-03-19 01:18] djpereira opened #257 "2.11.0 nests locales and resources in additional folders"
Going from 2.9.5 to 2.11.0 creates a locales folder within the locales folder and drops the respective files there. Same deal for resources. Due to do this then the application does not run after installing it. Everything works fine using 2.9.5.

I'm building on Windows using `build -d`. The packaging process is fine, the issue is during the installer creation. I suspect that the problem arose whe

[2016-03-19 02:06] hzeroo opened #258 "Unable to build distributable releases for Windows under OS X"
Distributable releases works fine for OS X, but i'm having trouble with the windows release. As the docs says, I've installed Caskroom/cask/xquartz, wine and mono with brew, but when i try to run it fails:

        Packaging app for platform win32 x64 using electron v0.37.2
        Error: Failed with exit code: 1
        Output:
        Intentando compilar el paquete desde 'xxxxxx.nuspec'.

[2016-03-19 07:40] akdiallo commented on #39
Finally found where the problem was coming from . My .ico file wasn't good. It was **48x48** size when it should have been **256x256** . Moreover, I didn't put all of my resources in the build folder as specified in the electron-builder github page.
Once done that, I tested the install wizard in Windows 10 and it's working. But the app still cannot execute itself. Will keep you posted, I suspect i

[2016-03-19 19:39] develar commented on #258
Please ask about it in the [windows-installer](https://github.com/electronjs/windows-installer/issues)

[2016-03-20 03:27] jkudish commented on #243
Tried in a Win7 VM (ia32). Same problem.

[2016-03-20 15:09] valaxy commented on #233
The same problem appears in windows too.
After some digging, I found that:
What `File not found: 'icudtl.dat'`'s meaning is `File not found: snip/dist/win-ia32` in fact.
So, if you build to x64 and x64 only without ia32, the error happens

[2016-03-20 15:29] valaxy opened #259 "Could not find file 'xxxxx\xxx-win32-ia32\ui_resources_200_percent.pak'"
After input `.\node_modules\.bin\build -d dest` on win7, the error occurs:
Sometimes, it report `Could not find file 'xxxxx\xxx-win32-ia32\ui_resources_200_percent.pak`, sometimes, it report `Could not find file 'xxxxx\xxx-win32-ia32\LICSENCE`, sometimes the other files.

I double checked the `xxx-win32-ia32` directory, I did really have those files, How can I fix that?

[2016-03-20 19:22] jkudish commented on #243
Is the `.ico` supposed to be a certain size? Mine is 256x256 but wondering if that's the issue?

[2016-03-20 19:24] jkudish opened #260 "How do you build for another platform?"
In the old API you could specify `--platform`, if you wanted to say build windows from linux or from OS X. How can you do this with the new API?

Thanks

[2016-03-20 21:29] stefanjudis commented on #225
Okay folks. I just pressed the button. :)

[2016-03-20 21:29] #225 closed

[2016-03-21 05:26] jkudish commented on #243
Seems to be related to the VM setup. I tried again on a native windows machine from a friend and the app compiled without any problems there. Will try to figure out what about the VM is being problematic.

[2016-03-21 06:30] develar commented on #260
The same argument and the same option values :) [CLI usage](https://github.com/electron-userland/electron-builder#cli-usage).

[2016-03-21 06:30] #260 closed

[2016-03-21 06:34] develar commented on #243
Reopened — I am going to check some option values on electron-builder side because Squirrel.window produces unclear ugly error messages.

Yes, icon must be at least 256 size.

[2016-03-21 07:03] havenchyk commented on #259
@valaxy electron-builder uses the fork of electron-winstaller under the hood, so please check, is it the same issue https://github.com/electronjs/windows-installer/issues/45?

[2016-03-21 07:04] havenchyk commented on #258
@hzeroo please create a ticket against `electron-winstaller` mention this issue there, so we can track it.

[2016-03-21 12:39] havenchyk commented on #257
@djpereira I have the same with `2.11.0`. Try to use `electron-builder@2.10.1` instead for now, should work fine. It looks like the problem relates to `windows-installer` and should be fixed there.

[2016-03-21 14:55] jbleuzen opened #261 "Error publishing to github when building on travis"
Hi,
I have error on my Travis instance when building my app :  GitHub Personal Access Token is not specified. The fact is I don't want to publish to github so I want to disable this publish thing.

I've added this in my package.json (the developper one) :

[code]

But when I read the docs, I see "But please consider to use automatic rules and don't specify publish explicitly". So, is the "publish"

[2016-03-21 18:02] develar commented on #261
Please provide full stack trace of error. Must be no error if you use don't use script named `release`.

[2016-03-21 20:11] jbleuzen commented on #261
I don't use `npm release` but `npm run dist`, here is the output i have as "raw log" in Travis :

[code]

[2016-03-22 08:32] uggrock commented on #259
I have the same issue. The message I get is that it is missing 'msccr120.dll'.

[2016-03-22 08:45] havenchyk commented on #259
@uggrock I believe it's an another issue. http://superuser.com/a/827889/288765

[2016-03-22 09:46] uggrock commented on #259
But I have this file in the dist folder. The files is copied from the electron-prebuilt distribution.

[2016-03-23 00:42] marttinen commented on #257
Can confirm the doubled resources/resources and locales/locales folder and also that it works again when using electron-builder@2.10.1.

[2016-03-23 06:43] develar commented on #225
@stefanjudis Do you have plans to update links in the readme? Or I can do it (I has some not yet ready changes).

[2016-03-23 07:20] stefanjudis commented on #225
:+1:

[2016-03-23 08:36] develar commented on #225
@stefanjudis Could you please add project to AppVeyor again (I cannot since I don't belong to org)? I don't see AppVeyor check in the #262 for example.

[2016-03-23 09:41] jbleuzen commented on #261
I forgot to mention that even when I set the argument 'publish' to 'never' with `
npm run dist -p never`, I also get the error...

[2016-03-23 09:51] develar commented on #259
Please try [3.0.0](https://github.com/electron-userland/electron-builder/releases/tag/v3.0.0) (`next` version). Please be aware of breaking changes (see release notes).

[2016-03-23 09:51] #259 closed

[2016-03-23 09:52] develar commented on #258
Please try [3.0.0](https://github.com/electron-userland/electron-builder/releases/tag/v3.0.0) (`next` version). Please be aware of breaking changes (see release notes).

[2016-03-23 10:27] develar commented on #257
Please try [3.0.0](https://github.com/electron-userland/electron-builder/releases/tag/v3.0.0) (`next` version). Please be aware of breaking changes (see release notes).

[2016-03-23 10:27] #257 closed

[2016-03-23 10:27] develar commented on #233
Please try [3.0.0](https://github.com/electron-userland/electron-builder/releases/tag/v3.0.0) (`next` version). Please be aware of breaking changes (see release notes).

[2016-03-23 10:27] #233 closed

[2016-03-23 10:29] develar commented on #11
Since 3.0 we support only Squirrel.Windows.

[2016-03-23 10:29] #11 closed

[2016-03-23 10:31] develar commented on #36
Since 3.0 we support only Squirrel.Windows. And Squirrel.Windows [installs to the local user account](https://github.com/Squirrel/Squirrel.Windows/blob/master/docs/goals.md#installing).

[2016-03-23 10:31] #36 closed

[2016-03-23 10:31] #63 closed

[2016-03-23 10:32] develar commented on #80
Since 3.0 we support only Squirrel.Windows.

[2016-03-23 10:34] develar commented on #252
Duplicate of #230

[2016-03-23 10:34] #252 closed

[2016-03-23 10:40] stefanjudis commented on #225
![bildschirmfoto 2016-03-23 um 11 39 54](https://cloud.githubusercontent.com/assets/962099/13982740/007c01e0-f0ec-11e5-905c-73ac706b8d34.png)

Updated the settings...
Don't the the `userland` project at appveyor so I'm not sure if this will work.

Please let me know, when there are more troubles. :)

[2016-03-23 11:35] #145 closed

[2016-03-23 19:07] hzeroo commented on #258
With 3.0.0:

        Packaging app for platform win32 x64 using electron v0.37.2
        Error: Failed with exit code: 255
        Output:
        System.InvalidOperationException: The input package file /Users/zero/Desktop/popcorn-electron/dist/win/popcorn.0.9.8.nupkg targets no platform and cannot be transformed into a release package.
        at Squirrel.ReleasePackage.CreateReleasePackage (Sys

[2016-03-23 21:04] marttinen commented on #257
Works fine with 3.0.0, thanks. (noMsi works now too :+1: )

[2016-03-23 22:53] hzeroo commented on #258
With DEBUG:

    electron-windows-installer:main Created NuSpec file:
    <?xml version="1.0" encoding="utf-8"?>
    <package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
    <metadata>
        <id>xxxxx</id>
        <title>xxxxx</title>
        <version>0.9.8</version>
        <authors>xxxxx xxxxx</authors>
        <owners>xxxxx xxxxx</owners>
        <iconUrl>https://raw.gi

[2016-03-24 06:42] develar commented on #258
@hzeroo Thanks for debug log. I still don't understand, because I also use OS X. And it seems you install all required packages (wine and mono).

@hzeroo Could you please provide your `build` configuration?

Try to build only x64: `npm run dist -- --platform win32 --arch x64`

[2016-03-24 06:52] develar commented on #258
@hzeroo Just to be sure, please `mono --version` and `wine --version`.

[2016-03-24 11:18] aarnaud opened #264 "Error: Unable to find a valid app"
## My `dist` directory:

[code]

## The `package.json`:
[code]

## With electron-packager (OK):
[code]
it's works, the result folder is:

[code]

## With electron-builder 3.0.0 and 2.11.0 (Failed)
[code]

The build is success, but on start:

[code]

The build result is:
[code]

## Conclusion

The resources haven't app directory, i don't known why.

My code is on github: https://github.com/aarnaud/

[2016-03-24 12:08] develar commented on #264
`appDir` required if you use two-package.json structure and want to use custom dir instead of `app` (default value).

See https://github.com/electron-userland/electron-builder#in-short

Another problem —we use `dist` folder as output directory and currently no configuration option to change it.

[2016-03-24 12:38] hzeroo commented on #258
Ok, solved. All was caused due to a very old version of mono previously installed without brew, and when mono was launched the old version spawned. Removing the old version and checking that mono 4.2.X is used solved the issue, all is working perfectly right now.

Really thanks for you time @develar

[2016-03-24 12:41] develar commented on #258
Na endlich. Thanks, so, we can tag 3.0 as `latest`.

[2016-03-24 12:41] #258 closed

[2016-03-24 13:14] #230 closed

[2016-03-24 16:03] develar commented on #249
@d9k Is your last question fixed in the 3.0.1?

[2016-03-24 16:06] d9k commented on #249
  24.03.2016, 19:03, "Vladimir Krivosheev" <notifications@github.com>:@d9k Is your last question fixed in the 3.0.1?—You are receiving this because you were mentioned.Reply to this email directly or view it on GitHub  You mean different build options? I'll try later.___________________________________________С уважением,разработчик ООО "ОрбитальСофт" (orbilet.ru)Комаров Дмитрий Алексеевичskype:dmk

[2016-03-24 19:31] develar commented on #182
@thanpolas Have you found a solution? Does `ignore` electron packager option works for you? Also, please see https://github.com/electron-userland/electron-builder/issues/230#issuecomment-196007808.

[2016-03-24 19:59] thanpolas commented on #182
I've opted to use directly the appdmg package to create my bundle for so i could overcome the blocks i had, so far things look good, thank you for your help!

[2016-03-24 22:15] ErikBean commented on #156
I would really like to see this issue reopened. According to the README I should look at node_modules/electron-builder/out/electron-builder.d.ts. Anyone wanting to use electron-builder programmatically is required to clone the project, run a compile script to generate /out, which contains a TypeScript file. I would like to use/improve this, but I have zero TypeScript experience, and it seems unnec

[2016-03-25 00:58] adam-lynch commented on #156
Erik, you're wrong as far as I remember. If you install from npm, the files
should be generated, but not if installing from GitHub. I think anyway.

On Thu, Mar 24, 2016, 22:15 Erik Bean <notifications@github.com> wrote:

[2016-03-25 06:19] develar commented on #156
@ErikBean electron-builder.d.ts only for external usage. This file exist when module is installed.

Why you are forced?

`declare module 'electron-builder/out/awaiter'` means that you need to `require("electron-builder/out/awaiter")` to use members from this module.

Syntax in the d.t.s is the same as ES6 (there are some differences (additions to syntax), but not major).
Why it is not documented i

[2016-03-25 06:23] ErikBean commented on #156
Just seems misleading to advertise a programmatic API in the README is all.

On Thu, Mar 24, 2016 at 11:19 PM, Vladimir Krivosheev <
notifications@github.com> wrote:

[2016-03-25 06:23] jbleuzen commented on #261
It looks like no body have input to give me for this...
I looked the source and don't see a reason why the github publisher is running.

Maybe someone can help me reproduce the Travis setup so that I can edit code on my machine to fix this ?

[2016-03-25 06:26] develar commented on #182
@thanpolas If you still want to use electron-builder and it is a show-stopper for you —feel free to reopen issue.

Closed for now as won't fix — PR is welcome or I will try to implement solution if it will be required by you/another user.

[2016-03-25 06:26] #182 closed

[2016-03-25 06:30] develar commented on #261
@jbleuzen I was returned from vacation and there were another issues to fix (remember, I work on project in my spare time by morning :)). Now I am going to investigate it. You can expect fix/solution today.

[2016-03-25 06:33] develar commented on #156
@ErikBean I will try to fix doc somehow.

If something stops you — feel free to ask me about it.

[2016-03-25 06:33] jbleuzen commented on #261
@develar didn't mean to be too pressing. Sorry about that and I hoped your vacation were fun :p

I was also offering help if I can replicate travis env so I can make some printf debug :smile:
I looked at the code and don't understand why I get that message on travis only.

[2016-03-25 09:40] #261 closed

[2016-03-25 10:07] jbleuzen commented on #261
Thanks @develar it's working !

[2016-03-25 12:38] d9k opened #267 "build with platform and arch arguments doesn't build package"
`electron-builder` versions: at least `3.0.1` and `2.10.1`.
[code]
two package.json layout, outer package.json:

[code]

`npm run dist` builds `./dist/MyApp-win32-ia32`, `./dist/MyApp-win32-x64` with unpackaged version and `./dist/win`, `./dist/win-x64` with packaged.

`npm run dist:win64` (`"build --platform win32 --arch x64"`) builds directory `./dist/MyApp-win32-x64` only, where non-packaged ap

[2016-03-25 12:43] #249 closed

[2016-03-25 12:46] develar commented on #267
Why do you need to have dist:win64 and dist:win? Maybe electron-builder by default should build only current arch, but not all?

[2016-03-25 12:48] d9k commented on #267
@develar, no, it builds 32-bit arch too and it takes much time

[2016-03-25 12:49] develar commented on #267
@d9k I think we should change this behaviour and by default build only current arch. Do you agree?

[2016-03-25 12:52] d9k commented on #267
@develar I agree but packaged version (squirrel installer) must be built too.
But question is: why any argument passed to `build` cancels installer build (only non-packaged version is being build)?

[2016-03-25 13:05] develar commented on #267
Well, yes, it seems it is a bug. Will be investigated and fixed.

Ok, so, it will be implemented. win 32/linux 32 in any case doesn't make any sense in most cases.

[2016-03-25 13:57] d9k commented on #249
moved problems with arguments to separate issue https://github.com/electron-userland/electron-builder/issues/267

[2016-03-25 15:17] jbleuzen commented on #264
I had the same sort of error with electron-builder > 3.x.x.
Rollbacked to 2.11.0 and my app get build correctly...

@aarnaud have you try adding the option "asar": false into your dev package.json in build item ?

[2016-03-25 15:21] develar commented on #264
@jbleuzen Please create new issue and provide details.

[2016-03-25 16:16] develar commented on #267
It is not a bug. If script is not named as `dist`, `--dist` flag is not implied, and, so, you must pass it explicitly. Well, I will improve lifecycle event support — prefix `dist:` will be also as marker to package in a distributable format.

[2016-03-25 16:27] aarnaud commented on #264
Thanks, @develar

My change for solve it : https://github.com/aarnaud/lxd-webui/commit/2b343d1f008855bc041c75f5fe3a33467251ec49

[2016-03-25 16:27] #264 closed

[2016-03-25 16:30] develar commented on #264
@aarnaud Cool. Please note — your feedback is welcome and anything can be changed to make configuration simple and comfortable. Cool that you decided to follow convention instead of creating configuration hell.

[2016-03-25 18:57] #267 closed

[2016-03-25 20:06] uggrock commented on #208
I am getting this issue in my windows build with 3.1.0 and 3.0.0

[2016-03-25 20:24] develar commented on #208
@uggrock Please file new issue and provide full error log.

[2016-03-27 18:23] develar commented on #69
In the 2.8+ API we require background image, but according to https://github.com/LinusU/node-appdmg/issues/76#issuecomment-158080026 we should not. If background is not explicitly specified, we must not substitute default value if file doesn't exist.

[2016-03-28 10:25] #243 closed

[2016-03-28 10:31] Luncher opened #270 "Packaging app for platform too slow,"
my application File size:

[luncher@localhost release-test]$ ls
app  build  dist  node_modules  package.json
[luncher@localhost release-test]$ du -sh ./*
108M	./app
420K	./build
423M	./dist
170M	./node_modules
4.0K	./package.json
[luncher@localhost release-test]$

my build options:
 "build": {
    "asar": false,
    "app-bundle-id": "hr.creaticon.eatodo",
    "app-category-type": "public.app-categ

[2016-03-28 10:46] develar commented on #270
Please specify target platform. See https://github.com/electron-userland/electron-builder/issues/181#issuecomment-189145205

[2016-03-28 12:45] d9k commented on #267
Thanks! You improved our workflow enormously!
Awesome support!

[2016-03-28 12:50] develar commented on #267
We can also support magic script names like `dist:${platformName}${arch}`

`dist:win64` (implies `--dist --platform win32`)

but... it is not yet clear for me how does it important (since we by default build only current arch). And it can be too magical. Feel free to propose.

Thanks :)

[2016-03-28 13:00] d9k commented on #267
@develar thanks, I think it's already very usable ;)

[2016-03-28 14:36] Luncher commented on #270
"scripts": {
    "dist": "npm run dist:osx && npm run dist:win",
    "dist:osx": "build --platform darwin -d",
    "dist:win": "build --platform win32 -d"
  },

I've specified version：
npm run dist:win

[2016-03-28 14:40] Luncher commented on #270
When I specified asar equal to false, too slow~

[2016-03-28 14:46] develar commented on #270
Slow — what is your target and host OS? Without asar is ok? CPU, RAM? Please provide exact timing — use time command.

[2016-03-28 19:38] ykim opened #271 "Error: spawn npm ENOENT issue on Windows"
I've installed electron-build (3.1.1) on Windows 8.1 and Windows 10 to be able to code-sign my application in Windows, but I keep on encountering this issue:

[code]

After modifying the util.ts file to use "npm.cmd" instead of "npm", it looks like it runs now.

[2016-03-28 21:23] michaelbazos opened #272 "Ability to customize the output directory"
Is there any possibility to customize the output directory, i.e. to write in another folder than `dist`?

[2016-03-28 21:51] michaelbazos commented on #197
I encountered the same problem and thought also, at first, that there was an issue with the customization of the background and the icon.

But after investigation it appears that the issue is not related to electron-builder.

It occurs **if you don't unmount a DMG with the same name** that was mounted before the customization.

Steps to reproduce:

 - Build a dmg with a background located at `buil

[2016-03-29 02:33] Luncher commented on #270
**Without asar is ok.**

[luncher@localhost SingleIDEServer]$ uname -a
Linux localhost.localdomain 3.17.4-301.fc21.x86_64 #1 SMP Thu Nov 27 19:09:10 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

---

[luncher@localhost SingleIDEServer]$ cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 60
model name	: Intel(R) Core(TM) i5-4210M CPU @ 2.60GHz
stepping	: 3
microcode	: 0x1c

[2016-03-29 04:57] Luncher commented on #270
Packaging app for platform win32 x64 using electron v0.37.2

real	108m29.333s
user	197m33.096s
sys	17m57.266s
[luncher@localhost release-test]$

[2016-03-29 05:12] Luncher commented on #270
Who can help me check why? Thank you

[2016-03-29 05:14] develar commented on #270
I, but I will have time only on weekend. It is interesting why `asar=false` is slow, but default `asar=true` not. Why you cannot use `asar`?

[2016-03-29 05:15] develar commented on #270
Anyway, consider to use https://www.appveyor.com to build win aritfact (see https://github.com/electron-userland/electron-builder/blob/master/docs/multi-platform-build.md).

[2016-03-29 05:18] Luncher opened #273 "iconUrl"
iconUrl must specify it? I can specify a local icon file?

[2016-03-29 05:19] Luncher commented on #270
Because I have to modify the app folder inside the file,

[2016-03-29 05:20] Luncher commented on #270
Thank you :+1:

[2016-03-29 05:21] develar commented on #273
See https://github.com/electron-userland/electron-builder/blob/master/docs/options.md iconUrl

[2016-03-29 05:21] #273 closed

[2016-03-29 05:23] Luncher commented on #273
Thank you! I have not seen this document before

[2016-03-29 05:28] Luncher commented on #270
Ask a question.

`extra Resources` option whether to extract out of resources from app.asar

[2016-03-29 05:36] develar commented on #270
No. Copied separately. Not in the asar in any case.

[2016-03-29 05:50] Luncher opened #274 "Error: spawn fpm ENOENT"
Packaging app for platform linux x64 using electron v0.37.2
Error: spawn fpm ENOENT
    at exports._errnoException (util.js:890:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:182:32)
    at onErrorNT (internal/child_process.js:348:16)
    at _combinedTickCallback (node.js:377:13)
    at process._tickCallback (node.js:401:11)
From previous event:
    at Object.exec (/data

[2016-03-29 05:57] develar commented on #274
See https://github.com/electron-userland/electron-builder/blob/master/docs/multi-platform-build.md#linux

[2016-03-29 05:57] #274 closed

[2016-03-29 05:58] develar commented on #274
Hmm... yes, `fpm` is not documented for Linux. See https://github.com/jordansissel/fpm#system-packages

[2016-03-29 06:10] Luncher commented on #270
What other way to extract the rar files?

[2016-03-29 08:41] havenchyk commented on #271
@ykim could you please provide your configs(package.json)? PR is welcome.

[2016-03-29 09:12] Luncher commented on #270
Why do I use mac computer to compile windows installer is very slow. . .

[2016-03-29 09:13] Luncher commented on #270
There are other ways you can see the log information?

[2016-03-29 09:25] Vj3k0 commented on #272
It's possible for Windows. In your root package.json:
[code]
Note: `release` directory is in relative to your root directory (where your package.json is).

The problem here is that `electron-builder` expects it to be in dist and it will try to move files around and will cause error.

[2016-03-29 13:52] havenchyk opened #276 "Add badges"
- [ ] About passing the tests on windows
- [ ] About passing the tests on linux and osx
- [ ] About npm version

[2016-03-29 14:12] havenchyk opened #277 "Add issue and PR templates"
- [ ] Issue template
- [ ] PR template

Materials:
- https://github.com/blog/2111-issue-and-pull-request-templates
- https://github.com/kentcdodds/issue-template

[2016-03-29 16:27] bontibon opened #278 "Windows installer metadata is incorrect"
I am generating a Windows installer (on Windows) using version 3.1.1. I noticed that the generated installer has "[object Object]" as the value for both "File description" and "Product name".

![properties](https://cloud.githubusercontent.com/assets/110883/14115374/16f80030-f5b1-11e5-858a-13f03e27d729.png)

The application executable itself has the correct values.

Examining the nuspec template in

[2016-03-30 03:36] bsharper opened #279 "Possible to build Windows installer without autoupdate?"
electron-builder is immensely useful, however a recent update has introduced a few issues I wanted to ask about.

I'm using Electron to rebuild a custom network diagnostic utility for work. This utility is not used regularly by any single client. In most circumstances it will be used for several hours then removed. Additionally, it is likely that one of our support staff will be installing and run

[2016-03-30 07:16] develar commented on #279
Please see https://github.com/electron/windows-installer/issues/42

Other questions — accepted, will be investigated.

[2016-03-30 07:18] havenchyk commented on #279
@bsharper basically, you can use `target nsis`, it's still possible (but removed from readme, I'm not sure why).

[2016-03-30 07:20] develar commented on #279
@havenchyk No, it not possible anymore.

[2016-03-30 07:27] havenchyk commented on #279
Ah, I see the commit. It's not possible.

@develar basically, we can just skip including of `Update.exe` into the build, isn't it?

[2016-03-30 07:28] develar commented on #277
Decided to not do it, because most of the issues are different. JetBrains Youtrack, e.g., also doesn't have templates.

[2016-03-30 07:31] havenchyk commented on #277
Hm. You always almost ask to add the config and so on. But it's not a problem for me. Can be closed in this case.

[2016-03-30 07:31] #277 closed

[2016-03-30 07:32] develar commented on #276
Tests in master must be green. Period. Always. If squirrel.windows sometimes failed, it is developer responsibility to restart it ASAP. So, I don't think that badges will be useful.

[2016-03-30 07:33] havenchyk commented on #276
I'll provide the PR for it and then you can accept it or not. I don't see the version of package on the github, so I have to go to the npmjs.com and then check the version.

[2016-03-30 07:35] havenchyk commented on #278
Have the same bug (probably with 3.1.0) as well.

[2016-03-30 07:37] develar commented on #272
Not yet. Will be implemented on weekends.